{
    "secret": "mysecret",
    "database_password": "mydatabasepassword",
    "github": {
        "key": "githubkeyforoauth",
        "secret": "githubsecretforoauth"
    },
    "twitter": {
        "key": "twitterkeyforoauth",
        "secret": "twittesecretforoauth"
    }
}