asn1crypto==0.24.0
certifi==2017.11.5
chardet==3.0.4
cryptography==2.1.4
defusedxml==0.5.0
Django==1.11
django-ckeditor==5.6.1
django-countries==5.3.2
django-js-asset==0.1.1
django-multiupload==0.5.2
django-widget-tweaks==1.4.1
django-wysiwyg==0.8.0
enum34==1.1.6
gyp==0.1
idna==2.6
ipaddress==1.0.17
mysql-connector-python==2.1.6
nemo-emblems==3.8.0
oauthlib==2.0.6
olefile==0.44
paramiko==2.0.0
parse==1.11.1
pexpect==4.2.1
Pillow==4.3.0
pyasn1==0.4.2
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
PyJWT==1.5.3
pyodbc==4.0.17
pyparted==3.11.1
pysqlite==2.7.0
python-apt==1.6.0
python-openid==2.2.5
python-xlib==0.20
python3-openid==3.1.0
pytz==2017.3
pyxdg==0.25
requests==2.18.4
requests-oauthlib==0.8.0
setproctitle==1.1.10
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.6.0
typing==3.6.2
urllib3==1.22
