{% extends "base.html" %}

{% block activo_login %}
active
{% endblock %}

{% block main_content %}

<!-- Container de bootstrap (centrar contenido en pantalla -->
<div class="container _bgColor0">
    <section class="_login">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row _login_social _mt-20">
                <div class="col-xs-12">
                    <div class="col-xs-3 _pl-0 _pr-xs-5">
                        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-lg btn-block btn-facebook">
                            <i class="fa fa-facebook"></i><span class="hidden-xs"> Facebook</span>
                        </a>
                    </div>
                    <div class="col-xs-3 _pl-xs-0 _pr-xs-5">
                        <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-lg btn-block btn-twitter">
                            <i class="fa fa-twitter"></i><span class="hidden-xs"> Twitter</span>
                        </a>
                    </div>
                    <div class="col-xs-3 _pl-xs-0 _pr-xs-5">
                        <a href="{% url 'social:begin' 'github' %}" class="btn btn-lg btn-block btn-github">
                            <i class="fa fa-github"></i><span class="hidden-xs"> Github</span>
                        </a>
                    </div>
                    <div class="col-xs-3 _pl-xs-0 _pr-0">
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-lg btn-block btn-google">
                            <i class="fa fa-google-plus"></i><span class="hidden-xs"> Google+</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row _loginOr">
                <div class="col-xs-12">
                    <hr>
                    <span>or</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input class="form-control" type="text" name="username" id="user" placeholder="Username" autofocus required>
                    </div>
                    <span class="help-block"></span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input class="form-control" type="password" name="password" id="pass" placeholder="Password" required>
                    </div>
                    {% if form.errors %}
                    <span class="help-block">Your username and password didn't match. Please try again.</span>
                    {% endif %}
                </div>
            </div>
            <div class="row _mt-20">
                <div class="col-xs-12">
                    <div class="form-group _mb-10">
                        <button class="btn btn-lg btn-block btn-success" type="submit">Login</button>
                    </div>
                    <div class="form-group">
                        <a href="{% url 'blog:index' %}" class="btn btn-lg btn-block btn-primary">
                            Cancelar
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

{% endblock %}
