{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
Blog - UserProfile
{% endblock %}

{% block main_content %}

<!-- Container de bootstrap (centrar contenido en pantalla -->
<div class="container _bgColor0 _pt-0">
	<!-- Fila -->
	<div class="row">
		<!-- Columna izquierda -->
		<div class="col-xs-12 col-sm-3 pull-left">
			<div id="contact_side">
				<!-- Contacto redes sociales -->
				<div class="_social_contact">
					<div class="text-center">
						<a href="#"><i class="fa fa-linkedin fa-2x" data-toggle="tooltip" data-placement="top" title="Linkedin"></i></a>
						<a href="#"><i class="fa fa-twitter fa-2x" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
						<a href="#"><i class="fa fa-github fa-2x" data-toggle="tooltip" data-placement="top" title="GitHub"></i></a>
					</div>
				</div>
				<div class="_user_foto _mb-30">
					<div class="text-center">
						<img class="img-circle img-responsive"
							 {%if profile.image%}
							 src='{{ profile.image.url }}'
							 {%else%}
							 src='{% static "img/dummy-user.png" %}'
							 {%endif%}>
					</div>
					<div class="_user_head">
						<h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
						<div class="hr-center"></div>
						<h5>{{ profile.description }}</h5>
					</div>
				</div>
				<div class="link-me">
					<div class="text-center">
						<a href="#id-blog"><i class="fa fa-history fa-2x" data-toggle="tooltip" data-placement="top" title="Log actividades"></i></a>
						<a href="#id-contact"><i class="fa fa-flag fa-2x" data-toggle="tooltip" data-placement="top" title="Ponerse en contacto"></i></a>
					</div>
					<div class="hr-center"></div>
				</div>
			</div>
		</div>
		<!-- Columna derecha -->
		<div class="col-xd-12 col-sm-9 pull-right">
			<div id="contenido_contact">
				<!-- start:main content -->
				<div class="main-content">
					<ul class="_timeline">
						<!-- start:profile -->
						<li id="id-profile">
							<div class="_timeline-badge default"><i class="fa fa-user"></i></div>
							<h1 class="timeline-head">PROFILE</h1>
						</li>
						<li>
							<div class="_timeline-badge success"></div>
							<div class="_timeline-panel">
								<h1>Hello, I am <strong>{{ profile.user.first_name }} {{ profile.user.last_name }}</strong></h1>
								<h4>{{ profile.description }}</h4>
								<div class="hr-left"></div>
								<p>{{ profile.introduction }}</p>
							</div>
						</li>
						<li>
							<div class="_timeline-badge success"></div>
							<div class="_timeline-panel">
								<h1>Personal Info</h1>
								<div class="hr-left"></div>
								<div class="btn-group _mr-20 _mb-10">
									<button type="button" disabled class="btn _btn_contact_detail">nombre</button>
									<button type="button" disabled class="btn btn-default">{{profile.user.first_name}} {{profile.user.last_name}}</button>
								</div>
								<div class="btn-group _mr-20 _mb-10">
									<button type="button" disabled class="btn _btn_contact_detail">usuario</button>
									<button type="button" disabled class="btn btn-default">{{profile.user.username}}</button>
								</div>
								<div class="btn-group _mr-20 _mb-10">
									<button type="button" disabled class="btn _btn_contact_detail">activo</button>
									<button type="button" disabled class="btn btn-default">{% if profile.user.is_active %} X {% else %} _ {% endif %}</button>
								</div>
								<div class="btn-group _mr-20 _mb-10">
									<button type="button" disabled class="btn _btn_contact_detail">fecha alta</button>
									<button type="button" disabled class="btn btn-default">{{ profile.user.date_joined }}</button>
								</div>
								<div class="btn-group _mr-20 _mb-10">
									<button type="button" disabled class="btn _btn_contact_detail">último acceso</button>
									<button type="button" disabled class="btn btn-default">{{ profile.user.last_login|timesince }} ago</button>
								</div>
								<div class="btn-group _mr-20 _mb-10">
									<button type="button" disabled class="btn _btn_contact_detail">email</button>
									<button type="button" disabled class="btn btn-default">{{ profile.user.email }}</button>
								</div>
								<div class="btn-group _mr-20 _mb-10">
									<button type="button" disabled class="btn _btn_contact_detail">país</button>
									<button type="button" disabled class="btn btn-default">{{ profile.country }}</button>
								</div>
								<div class="btn-group _mr-20 _mb-10">
									<button type="button" disabled class="btn _btn_contact_detail">ubicación</button>
									<button type="button" disabled class="btn btn-default">{{ profile.location }}</button>
								</div>
								<div class="btn-group _mr-20 _mb-10">
									<button type="button" disabled class="btn _btn_contact_detail">autor</button>
									<button type="button" disabled class="btn btn-default">{% if profile.author %} X {% else %} _ {% endif %}</button>
								</div>
							</div>
						</li>
						<!-- start:blog -->
						<li id="id-blog">
							<div class="_timeline-badge default"><i class="fa fa-comments"></i></div>
							<h1 class="timeline-head">ACTIVITY</h1>
						</li>
						<li>
							<div class="_timeline-badge success"></div>
							<ul class="_timeline-panel list-unstyled _pr-30">
								<li>
									<h2>Summary</h2>
									<div class="hr-left"></div>
								    <div class="btn-group _mr-20 _mb-10">
										<button type="button" disabled class="btn _btn_contact_detail">posts</button>
										<button type="button" disabled class="btn btn-default">{{posts_user|length}}</button>
									</div>
								    <div class="btn-group _mr-20 _mb-10">
										<button type="button" disabled class="btn _btn_contact_detail">comentarios</button>
										<button type="button" disabled class="btn btn-default">{{comments_user|length}}</button>
									</div>
								    <div class="btn-group _mr-20 _mb-10">
										<button type="button" disabled class="btn _btn_contact_detail">likes</button>
										<button type="button" disabled class="btn btn-default">{{post_likes|length}}</button>
									</div>
								    <div class="btn-group _mr-20 _mb-10">
										<button type="button" disabled class="btn _btn_contact_detail">follows</button>
										<button type="button" disabled class="btn btn-default">{{follows|length}}</button>
									</div>
								    <div class="btn-group _mr-20 _mb-10">
										<button type="button" disabled class="btn _btn_contact_detail">followers</button>
										<button type="button" disabled class="btn btn-default">{{followers|length}}</button>
									</div>
                                    <div class="btn-group _mr-20 _mb-10">
										<button type="button" disabled class="btn _btn_contact_detail">date join</button>
										<button type="button" disabled class="btn btn-default">{{profile.user.date_joined}}</button>
									</div>
                                    <div class="btn-group _mr-20 _mb-10">
										<button type="button" disabled class="btn _btn_contact_detail">last login</button>
										<button type="button" disabled class="btn btn-default">{{profile.user.last_login}}</button>
									</div>
								</li>
								<li class="_mt-30">
									<h2>Recent activity</h2>
									<div class="hr-left"></div>
								</li>
                                {% for log in log_user %}
								<li class="_mt-10">
									<div class="pull-left">
										<span class="_ml-10"><i class="{{log.activity.icon}}"></i></span>
										<span class="_ml-10">{{log.description|safe}}</span>
									</div>
									<div class="pull-right">
                                        <span class="_ml-10"><i class="fa fa-calendar"></i> {{log.timestamp}}</span>
									</div>
								</li>
                                <br>
                                {% endfor %}
							</ul>
						</li>
						<!-- start:contact -->
						<li id="id-contact">
							<div class="_timeline-badge default"><i class="fa fa-envelope"></i></div>
							<h1 class="timeline-head">CONTACT</h1>
						</li>
						<li>
							<div class="_timeline-badge success"></div>
							<div class="_timeline-panel">
								<h1>Contact Me</h1>
								<div class="hr-left"></div>
								<p>Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<form>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input class="form-control input-lg _contact_input" placeholder="Name...">
											</div>
											<div class="form-group">
												<input class="form-control input-lg _contact_input" placeholder="E-mail...">
											</div>
											<div class="form-group">
												<input class="form-control input-lg _contact_input" placeholder="Subject...">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<textarea class="form-control input-lg _contact_input" style="height:182px; resize:none;" placeholder="Messages..."></textarea>
											</div>
										</div>
									</div>
									<div class="form-group">
										<button class="btn btn-lg _btnColor1 btn-block">SEND</button>
									</div>
								</form>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
