{% extends 'base.html' %}

{% block main_content %}


<div class="container">

    <!-- Titular de la pagina -->
    <div class="row">
        <div class="col-xs-12 _mt-20">
            <h2 class="_titleSection">CHANGE PASSWORD</h2>
        </div>
    </div>
    <!-- Formulario de password -->
    <div class="row">
        <div class="col-xs-12">
            {% if not user.has_usable_password %}
            <p style="color: red">You have not defined a password yet.</p>
            {% endif %}
            <!-- Formulario -->
            <form method="post" action="" id="password_form" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="password" name="old_password" autofocus id="id_old_password" placeholder="your old password..." required/>
                </div>
                <span class="helptext">
                    <ul class="list-unstyled">
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                    </ul>
                </span>
                <div class="form-group">
                    <input class="form-control" type="password" name="new_password1" id="id_new_password1" placeholder="your new password..." required/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="new_password2" id="id_new_password2" placeholder="confirm your new password..." required/>
                </div>
                <div class="form-group pull-right _mt-0">
                    <button type="submit" class="btn _btnColor1 btn-lg submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}