{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
Blog - UserProfile
{% endblock %}

{% block main_content %}

{% include "includes/jumbotron.html" with profile=profile %}

<!-- Container de bootstrap (centrar contenido en pantalla -->
<div class="container _bgColor0">
    <div class="row">
        <div class="col-xs-12 col-sm-6 _mt-30 _pr-sm-20">
            <div class="col-xs-12 info _pl-0 _pr-0">
                <div class="col-xs-12 col-sm-4 col-sm-offset-3 _pl-0 _pr-0 _mt-20" style="text-align: center;">
                    <img class="img-responsive img-rounded" alt="" width="100%"
                         {%if profile.image%}
                         src='{{ profile.image.url }}'
                         {%else%}
                         src='{% static "img/dummy-user.png" %}'
                         {%endif%}
                    >
                    <p class="_aboutText">{{ user.profile.first_name }} {{ user.profile.last_name }}</p>
                </div>
                <div class="col-xs-12 _pl-0 _pr-0 _mt-20">
                    <p class="_aboutText">
                        TO-DO
                        <br>Aquí hay que incorporar el perfil del usuario:
                        <br> - Datos que quiera compartir (pendiente implementar): mail, nombre, ciudad, fecha alta, último acceso, etc.
                        <br> - Intereses (categorías) (pendiente de implementar)
                        <br> - Posts escritos (listado de títulos y enlace)
                        <br> - Comentarios escritos (listado de títulos y enlace)
                        <br> - Galería de imagenes subidas (estilo los del side)
                    </p>
                </div>
                {% if user == profile.user %}
                <div class='col-xs-12 _pl-0 _mt-20'>
                    <h2>Login Settings</h2>
                    <h3>GitHub</h3>
                    {% if github_login %}
                    <p>Connected as <a href="https://github.com/{{github_login.extra_data.login}}/" target="_blank">{{github_login.extra_data.login}}</a></p>
                    {% if can_disconnect %}
                    <form method="post" action="{% url 'social:disconnect' 'github' %}">
                        {% csrf_token %}
                        <button type="submit">Disconnect from GitHub</button>
                    </form>
                    {% else %}
                    <button type="button" disabled>Disconnect from GitHub</button>
                    <p style="color: red">You must <a href="{% url 'blog:password' %}">define a password</a> for your account before disconnecting from Github.</p>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'social:begin' 'github' %}">Connect to GitHub</a>
                    {% endif %}

                    <h3>Twitter</h3>
                    {% if twitter_login %}
                    <p>Connected as
                        <a href="https://twitter.com/{{twitter_login.extra_data.access_token.screen_name}}/" target="_blank">{{ twitter_login.extra_data.access_token.screen_name }}</a>
                    </p>
                    {% if can_disconnect %}
                    <form method="post" action="{% url 'social:disconnect' 'twitter' %}">
                        {% csrf_token %}
                        <button type="submit">Disconnect from Twitter</button>
                    </form>
                    {% else %}
                    <button type="button" disabled>Disconnect from Twitter</button>
                    <p style="color: red">You must <a href="{% url 'blog:password' %}">define a password</a> for your account before disconnecting from Twitter.</p>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'social:begin' 'twitter' %}">Connect to Twitter</a>
                    {% endif %}

                    <h3>Facebook</h3>
                    {% if facebook_login %}
                    <p>Connected as <a href="https://facebook.com/{{facebook_login.extra_data.id}}/" target="_blank">{{facebook_login.extra_data.id}}</a></p>
                    {% if can_disconnect %}
                    <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
                        {% csrf_token %}
                        <button type="submit">Disconnect from Facebook</button>
                    </form>
                    {% else %}
                    <button type="button" disabled>Disconnect from Facebook</button>
                    <p style="color: red">You must <a href="{% url 'blog:password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'social:begin' 'facebook' %}">Connect to Facebook</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 _mt-30 _pl-sm-20">
            <h2 class="_titleSection">CONTACT</h2>
            <form action="">
                <div class="form-group">
                    <label for="name">Your name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Your name here" required maxlength="30">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input class="form-control" type="text" name="email" id="email" placeholder="Enter email id" required maxlength="40" is-invalid>
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile No.</label>
                    <input class="form-control" type="text" name="mobile" id="mobile" placeholder="Country code + Mobile number" maxlength="10">
                </div>
                <div class="form-group _mb-5">
                    <label for="message">Message</label>
                    <textarea class="form-control _aboutMessage" name="message" id="message" placeholder="Enter your message" required maxlength=400></textarea>
                    <small class="form-text text-muted">Max. 400 characters</small>
                </div>
                <div class="form-group pull-right _mt-0">
                    <button type="button" class="btn _btnColor1 submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}