<!DOCTYPE html>
<html lang="es-ES">

<!-- Head -->
{% load staticfiles %}
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootsrap 3.3.0 -->
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-3.3.0.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-datetimepicker-4.17.47.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/font-awesome.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-social.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/fileinput.css" %}'/>
    <!-- My styles -->
    <link rel="stylesheet" type="text/css" href='{% static "css/estilos.css" %}'/>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <!-- Blog title-->
    <title>{% block head %} {% endblock %}</title>
    <!-- Javascript files-->
    <script src='{% static "js/jquery-1.11.1.js" %}'></script>
    <script src='{% static "js/moment-2.9.0.js" %}'></script>
    <script src='{% static "js/bootstrap-3.3.0.js" %}'></script>
    <script src='{% static "js/bootstrap-datetimepicker-4.14.30.js" %}'></script>
    <script src='{% static "js/fileinput.js" %}'></script>
</head>

<!-- Body -->
<body class="_bgColor0">

<!-- Head -->
<header class="_bgColor1 _ftColor3">
    <!-- Contenedor para centrar la cabecera -->
    <div class="container">
        <!-- Barra superior con brand y usuario -->
        <div class="row">
            <div class="hidden-xs col-xs-12 pull-left">
                <img class="_logoHeader" src='{% static "img/django_header.png" %}'/>
                <h1>My first Django Web</h1>
            </div>
        </div>
        <!-- Barra de navegación inicial -->
        <div class="row">
            <nav class="navbar navbar-inverse _bgColor1" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="buton" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbar" aria-expanded="false" aria-label="Menú de Navegación">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm hidden-md hidden-lg hidden-xl" href="#"><img src='{% static "img/brand_xs.png" %}' width="200"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="myNavbar">
                    <!-- Menú izquierda: navegación por la web-->
                    <ul class="nav navbar-nav navbar-left">
                        <li class="{% block activo_home %} {% endblock %}"><a class="_ftColor1" href="{% url 'blog:index' %}">Home</a></li>
                        <li class="{% block activo_about %} {% endblock %}"><a href="{% url 'blog:contact' %}">About</a></li>
                        <li class="{% block activo_category %} {% endblock %} dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Categories <span class="caret"></span></a>
                            <ul class="dropdown-menu _bgColor1" role="menu">
                                {% for category in categories %}
                                <li><a class="_btnColor4" href='{{ category.get_absolute_url }}'>{{ category.category }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="{% block activo_archive %} {% endblock %}"><a href="{% url 'blog:archive' %}">Archive</a></li>
                        {% if user.is_authenticated %}
                        <li class="{% block activo_author %} {% endblock %} dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Author <span class="caret"></span></a>
                            <ul class="dropdown-menu _bgColor1" role="menu">
                                <li><a class="_btnColor4" href='{% url "blog:post_create" %}'>Create Post</a></li>
                                {% block edit_post %} {% endblock %}
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- Menú derecha: búsqueda y inicio/cierre sesión-->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="input-group form-group-sm">
                                    <input type="text" class="form-control form-control-sm" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm _btnColor3" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-lock"></span>
                                <span> {{ user.first_name }}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu _bgColor0">
                                <li>
                                    <div class="navbar-login col-xs-12 _pt-15 _pb-15">
                                        <div class="col-xs-12 _pt-10 _pb-10">
                                            <div class="col-xs-4 _pd-0 ">
                                                <img class="_bgColor0 img-responsive img-rounded" width="100%"
                                                     {%if user.profile.image%}
                                                     src='{{ user.profile.image.url }}'
                                                     {%else%}
                                                     src=''
                                                     {%endif%}>
                                            </div>
                                            <div class="col-xs-8 ">
                                                <p class="text-left">
                                                    <strong>{{ user.first_name }}</strong><br>
                                                    <small>{{ user.email }}</small>
                                                    <br>
                                                    <small>{{ user.profile.description }}</small>
                                                    <br>
                                                    <small>{{ user.profile.location }}</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 _pd-0">
                                            {% if user.is_authenticated %}
                                            {% if user.is_superuser %}
                                            <a class="btn btn btn-warning btn-block btn-sm" href="{% url 'admin:index' %}">
                                                <span class="glyphicon glyphicon glyphicon-cog"></span> Admin
                                            </a>
                                            {% endif %}
                                            <a class="btn btn btn-warning btn-block btn-sm" href="{% url 'user:register' %}">
                                                <span class="glyphicon glyphicon-edit"></span> Edit profile
                                            </a>
                                            <button class="btn btn btn-primary btn-block btn-sm" href="#disconnectModal" data-toggle="modal" data-target="#disconnectModal">
                                                <span class="glyphicon glyphicon-log-out"></span> Logout
                                            </button>
                                            {% else %}
                                            <a class="btn btn-success btn-block btn-sm" href="{% url 'login' %}">
                                                <span class="glyphicon glyphicon-log-in"></span> Login
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="{% block activo_login %} {% endblock %} dropdown">
                            <a class="btn btn-block btn-sm" href="{% url 'login' %}">
                                <span class="glyphicon glyphicon-log-in"></span> Login
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- Ventana modal cerrar sesion -->
                    <div class="modal fade" id="disconnectModal">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h2>Cerrar sesión</h2>
                                    <p>¿Está seguro de que desea desconectar la sesión?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'logout' %}?next=/">
                                        <button class="btn btn-success" type="submit">Desconectar</button>
                                    </a>
                                    <a href="#" data-dismiss="modal" class="btn btn-primary">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<!-- Bloque principal -->
<main>
    {% block header %}
    {% endblock %}

    {% include "includes/messages.html" %}
    {% block main_content %}
    {% endblock %}
</main>

<!-- Footer -->
<footer class="_bgColor1 _ftColor0T _mt-20">
    <!-- Barra superior y de share - Solo visible con varnab completa -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-5 right-border _pr-sm-20">
                <div class="footer-about">
                    <div class="col-xs-12 _pl-0 _pr-0">
                        <h2 class="footer-title">About Me</h2>
                        <p class="_textJustify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                    </div>
                    <div class="single col-xs-12 _pl-0 _pr-0 _mt-5">
                        <h6>Desarrollado por:
                            <p class="_ml-10 _mt-5">
                                <i class="fa fa-envelope"></i>
                                <a href="#" title="">Ismael</a> - info@example.com
                            </p>
                        </h6>
                    </div>
                    <div class="single col-xs-12 col-sm-5 _pl-0 _pr-0 _mt-5">
                        <h6>Follow:</h6>
                        <ul class="list-inline _mt-5">
                            <li class="list-inline-item"><a class="btn btn-social-icon btn-lg btn-twitter" href="http://www.twitter.com"><span class="fa fa-twitter"></span></a></li>
                            <li class="list-inline-item"><a class="btn btn-social-icon btn-lg btn-github" href="http://www.github.com"><span class="fa fa-github"></span></a></li>
                        </ul>
                    </div>
                    <div class="single col-xs-12 col-sm-7 _pl-0 _pr-0 _mt-5">
                        <h6>Share:</h6>
                        <ul class="list-inline _mt-5">
                            <li class="list-inline-item"><a class="btn btn-social-icon btn-lg btn-twitter" href="http://www.twitter.com"><span class="fa fa-twitter"></span></a></li>
                            <li class="list-inline-item"><a class="btn btn-social-icon btn-lg btn-facebook" href="http://www.facebook.com"><span class="fa fa-facebook"></span></a></li>
                            <li class="list-inline-item"><a class="btn btn-social-icon btn-lg btn-linkedin" href="http://www.linkedin.com"><span class="fa fa-linkedin"></span></a></li>
                            <li class="list-inline-item"><a class="btn btn-social-icon btn-lg btn-instagram" href="http://www.linkedin.com"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3 right-border _pl-sm-20 _pr-sm-20">
                <div class="footer-about">
                    <div class="col-xs-12 _pl-0 _pr-0">
                        <h2 class="footer-title">Powered By</h2>
                        <div id="powered" class="footer-powered">
                            <img src='{% static "img/HTML5.png" %}' class="img-rounded" alt="powered_by">
                            <img src='{% static "img/css3.png" %}' class="img-rounded" alt="powered_by">
                            <img src='{% static "img/bootstrap3.png" %}' class="img-rounded" alt="powered_by">
                            <img src='{% static "img/python.jpg" %}' class="img-rounded" alt="powered_by">
                            <img src='{% static "img/django.png" %}' class="img-rounded" alt="powered_by">
                        </div>
                    </div>
                    <div class="col-xs-12 _pl-0 _pr-0">
                        <div class="navigation">
                            <h2 class="footer-title">Navigation</h2>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'blog:index' %}" title="">Home</a></li>
                                <li><a href="{% url 'blog:contact' %}" title="">Contact</a></li>
                                <li><a href="{% url 'blog:category' id='all' %}" title="">Categories</a></li>
                                <li><a href="{% url 'blog:archive' %}" title="">Archive</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4 _pl-sm-20">
                <div class="footer-about">
                    <div class="col-xs-12 _pb-20 _pl-0 _pr-0">
                        <h2 class="footer-title">Newsletter</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                            <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                        </div>
                        <button type="button" class="btn _btnColor3 _mt-15 _noRadious">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- My scripts -->
<script>
jQuery(window).resize(function() {
    var divWidth = $('#powered').width();
    $('#powered').css('height', divWidth/6);
});

$('.carousel-indicators  li').on('mouseover',function() {
    $(this).trigger('click');
})

jQuery(document).ready(function() {

    var divWidth = $('#powered').width();
    $('#powered').css('height', divWidth/6);

    function close_accordion_section() {
        jQuery('.accordion').removeClass('active');
    }

    jQuery('.accordion').click(function(e) {
        // Grab current anchor value
        var currentAttrValue = jQuery(this).attr('href');

        if(jQuery(e.target).is('.active')) {
            close_accordion_section();
        }else {
            close_accordion_section();
            // Add active class to section title
            jQuery(this).addClass('active');
        }
        e.preventDefault();
    });
});
</script>
{% block body_js %}
{% endblock %}
</body>

</html>