{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
Blog - {{ title }}
{% endblock %}

{% block main_content %}
<div class="container _bgColor0">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <form method="post" action="" id="post_form" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div>
                    <!-- Titulo del post -->
                    <div class="form-group col-xs-12 _pl-0 _pr-0">
                        <label for="title">Titulo</label>
                        <input id="title" name="title" type="text" class="form-control" placeholder="enter your title here" maxlength="120" value="{{ post.title }}">
                    </div>
                    <!-- Categorias, status y fecha-->
                    <div class="col-xs-12 _pl-0 _pr-0">
                        <!-- Categorías -->
                        <div class="form-group col-xs-12 col-sm-6 pull-left _pl-0 _pr-0">
                            <label> Categorías </label><br>
                            {% for category in categories %}
                            <input type="checkbox" name="postcategory" value="{{ category.id }}" id="categoria_{{ category.id }}" autocomplete="off"
                                   {% for cat in post.postcategory_set.all %}
                                   {% if cat.category.id== category.id %}
                                   checked
                                   {% endif %}
                                   {% endfor %}
                            />
                            <div class="btn-group">
                                <label for="categoria_{{ category.id }}" class="btn btn-sm btn-{{ category.css_class}}">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="categoria_{{ category.id }}" class="btn btn-sm btn-default active">
                                    {{ category.category }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Status y fecha del post -->
                        <div class="col-xs-12 col-sm-6 pull-right _pl-0 _pr-0">
                            <div class="form-group col-xs-12 col-sm-8 _pl-30 _pr-0">
                                <label>Estado del Post</label><br>
                                {% for id, label in form.status.field.choices %}
                                <input type="radio" name="status" value="{{ id }}" id="id_status_post_{{ id }}" required
                                       {% if post.status== id %}
                                       checked
                                       {% endif %}
                                />
                                <div class="btn-group">
                                    <label for="id_status_post_{{ id }}" class="btn btn-sm btn-default">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span> </span>
                                    </label>
                                    <label for="id_status_post_{{ id }}" class="btn btn-sm btn-default active">
                                        {{ label }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="form-group col-xs-12 col-sm-4 _pl-0 _pr-0">
                                <label for="fecha">Fecha de publicación</label>
                                <div class='input-group date' id='fecha' name='fecha' style="width: 100%">
                                    <input type='text' id='published_date' name='published_date' class="form-control input-sm"
                                           value="{{ post.published_date|date:'YYYY-mm-dd HH:ii' }}"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#fecha').datetimepicker({
                                        showClear: true,
                                        showClose: true,

                                        format: 'YYYY-MM-DD hh:mm',
                                        locale: 'es'
                                    });
                                });


                            </script>
                        </div>
                    </div>
                    <!-- Imagenes -->
                    <div class="form-group _mt-20">
                        <label> Imagenes post (la primera es la principal) </label><br>
                        <table id="tabla_imagenes" class="table table-striped _ẗable-imagenes">
                            <col style="width:5%">
                            <col style="width:40%">
                            <col style="width:20%">
                            <col style="width:14%">
                            <col style="width:3%">
                            <col style="width:3%">
                            <tbody>
                            {% for i in "01" %}
                            <tr>
                                <td style="padding-left: 0px">
                                    <img src="img{{i}}_img" name="img{{i}}_img" width="50px" height="50px">
                                </td>
                                <td>
                                    <input id="img{{i}}_name" name="img{{i}}_name" type="text" class="form-control input-sm _input-xs"
                                           {% if i== "0" %}
                                    placeholder="imagen principal del post..." readonly>
                                    {% elif i == "1" %}
                                    placeholder="seleccione imagenes adicionales para el post..." readonly>
                                    {% endif %}
                                </td>
                                <td>
                                    <input id="img{{i}}_size" name="img{{i}}_size" type="text" class="form-control input-sm _input-xs"
                                           placeholder="tamaño de la imagen..." readonly>
                                </td>
                                <td>
                                    <input id="img{{i}}_dim" name="img{{i}}_dim" type="text" class="form-control input-sm _input-xs" readonly
                                           placeholder="dimensiones...">
                                </td>
                                <td>
                                    {% if i == "0" %}
                                    <input id="id_image" name="image" type="file" class="hidden">
                                    <button id="img{{i}}_btn_file" class="btn btn-xs _btnColor1" type="button" data-title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    {% elif i == "1" %}
                                    <input id="img{{i}}_file" id="img{{i}}_file" type="file" class="hidden" multiple="multiple"
                                           accept=".gif,.jpg,.jpeg,.png">
                                    <button id="img{{i}}_btn_file" class="btn btn-xs _btnColor1" type="button" data-title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    {% endif %}
                                </td>
                                <td style="padding-right: 0px">
                                    {% if i == "0" %}
                                    <button id="img{{i}}_btn_del" class="btn btn-xs _btnColor1" type="button" data-title="Delete" data-toggle="modal"
                                            data-target="#delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    {% elif i == "1" %}
                                    <button id="img{{i}}_btn_del" class="btn btn-xs _btnColor1" type="button" data-title="Delete" data-toggle="modal"
                                            data-target="#delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <legend>Simple Upload</legend>
                        <input id="input1" type="file" name="files[]" multiple="multiple" accept=".gif,.jpg,.jpeg,.png">
                        <!--onchange="getFileSizeandName(this);"-->
                        <div id="elPreview">

                        </div>
                    </div>
                    <!-- Editor wysiwyg -->
                    <div class="form-group">
                        <label for="content">Contenido</label><br>
                        {% load wysiwyg %}
                        {% wysiwyg_setup %}
                        <textarea id="content" name="content">
                            {{ post.content }}
                        </textarea>
                        {% wysiwyg_editor "content" %}
                    </div>
                </div>
                <!-- Submit -->
                <div class="form-group pull-right _mt-0">
                    <button type="submit" type="button" class="btn _btnColor1 submit">
                        <i class="fa fa-cloud" aria-hidden="true"></i> Save post
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete -->
<div class="modal fade" id="delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3>Delete image</h3>
                </div>
                <div class="form-group alert alert-danger">
                    <span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?
                </div>
                <div class="form-group form-inline">
                    <button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span> Actualizar</button>
                    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block body_js %}
<script type="text/javascript">

    window.URL    = window.URL || window.webkitURL;
    var elBrowse  = document.getElementById("input1"),
        elPreview = document.getElementById("elPreview"),
        useBlob   = false && window.URL; // set to `true` to use Blob instead of Data-URL

    elBrowse.addEventListener("change", function() {
        var files = this.files, errors = "";
        if (!files) {
            errors += "File upload not supported by your browser.";
        }
        if (files && files[0]) {
            for(var i=0; i<files.length; i++) {
                var file = files[i];
                if ( (/\.(png|jpeg|jpg|gif)$/i).test(file.name) ) {
                    readImage( file );
                } else {
                    errors += file.name +" Unsupported Image extension\n";
                }
            }
        }
        if (errors) {
            alert(errors);
        }
    });

    function readImage (file) {
        var reader = new FileReader();
        reader.addEventListener("load", function () {
            var image  = new Image();
            image.addEventListener("load", function () {
                var imageInfo = file.name +' '+
                image.width +'×'+
                image.height +' '+
                file.type +' '+
                Math.round(file.size/1024) +'KB';

                // Show image and info
                elPreview.appendChild(this);
                elPreview.insertAdjacentHTML("beforeend", imageInfo +'<br>');

                if (useBlob) {
                    // Free some memory
                    window.URL.revokeObjectURL(image.src);
                }
            });
            image.src = useBlob ? window.URL.createObjectURL(file) : reader.result;
        });
        reader.readAsDataURL(file);
    }

    var totalsizeOfUploadFiles = 0;
    var useBlob = false && window.URL;

    function getFileSizeandName(input)
    {
        var select = $('#uploadTable');
        $("#uploadTable tr").remove();
        for(var i =0; i<input.files.length; i++)
        {
            var filename = input.files[i].name;
            if ( (/\.(png|jpeg|jpg|gif)$/i).test(filename) ) {
                var filesizeInBytes = input.files[i].size;
                var filesizeInMB = (filesizeInBytes / (1024*1024)).toFixed(2);
                var dimensions = input.files[i].width + " " + input.files[i].height

                var reader = new FileReader();
                reader.addEventListener("load", function () {
                    var image  = new Image();
                    image.addEventListener("load", function () {
                      dimensions = image.width  +'×'+ image.height;
                    });
                    image.src = useBlob ? window.URL.createObjectURL(input.files[i]) : reader.result;
                });
                reader.readAsDataURL(input.files[i]);

                select.append($('<tr id=tr'+i+'><td id=filetd'+i+'>'+filename+'</td><td id=filedimensiond'+i+'>'+dimensions+'</td><td id=filesizetd'+i+'>'+filesizeInMB+'</tr>'));
                totalsizeOfUploadFiles += parseFloat(filesizeInMB);
                $('#totalsize').text(totalsizeOfUploadFiles.toFixed(2)+" MB");
                if(i==0)
                    $('#filecount').text("1file");
                else
                {
                    var no = parseInt(i) + 1;
                    $('#filecount').text(no+"files");
                }
            }
        }
    }

    function CloseAndRefresh()
    {
        opener.location.reload(true);
        self.close();
    }

    $('#img0_btn_file').click(function(){ $('#id_image').click(); })
    $('#img1_btn_file').click(function(){ $('#img1_file').click(); })
    $('#img2_btn_file').click(function(){ $('#img2_file').click(); })
    $('#img3_btn_file').click(function(){ $('#img3_file').click(); })
    $('#img4_btn_file').click(function(){ $('#img4_file').click(); })
    $('#img5_btn_file').click(function(){ $('#img5_file').click(); })

    $('#id_image').bind('change', function() {
        var file  = this.files[0];
        var img = new Image();
        img.onload = function() {
            console.log('onload width', this.width);
            console.log('onload height', this.height);
            $('#img0_dim').val(this.width + "x" + this.height);
        }
        img.src = URL.createObjectURL(file);
        $('#img0_size').val(file.size);
        $('#img0_name').val(file.name);
    });

    $('#img1_file').bind('change', function() {
        var file  = this.files[0];
        var img = new Image();
        img.onload = function() {
            console.log('onload width', this.width);
            console.log('onload height', this.height);
            $('#img1_size').val(this.width + "x" + this.height);
        }
        img.src = URL.createObjectURL(file);
        $('#img1_name').val(file.name);
    });

    $('#img2_file').bind('change', function() {
        var file  = this.files[0];
        var img = new Image();
        img.onload = function() {
            console.log('onload width', this.width);
            console.log('onload height', this.height);
            $('#img2_size').val(this.width + "x" + this.height);
        }
        img.src = URL.createObjectURL(file);
        $('#img2_name').val(file.name);
    });

    $('#img3_file').bind('change', function() {
        var file  = this.files[0];
        var img = new Image();
        img.onload = function() {
            console.log('onload width', this.width);
            console.log('onload height', this.height);
            $('#img3_size').val(this.width + "x" + this.height);
        }
        img.src = URL.createObjectURL(file);
        $('#img3_name').val(file.name);
    });

    $('#img4_file').bind('change', function() {
        var file  = this.files[0];
        var img = new Image();
        img.onload = function() {
            console.log('onload width', this.width);
            console.log('onload height', this.height);
            $('#img4_size').val(this.width + "x" + this.height);
        }
        img.src = URL.createObjectURL(file);
        $('#img4_name').val(file.name);
    });

    $('#img5_file').bind('change', function() {
        var file  = this.files[0];
        var img = new Image();
        img.onload = function() {
            console.log('onload width', this.width);
            console.log('onload height', this.height);
            $('#img5_size').val(this.width + "x" + this.height);
        }
        img.src = URL.createObjectURL(file);
        $('#img5_name').val(file.name);
    });
</script>
{% endblock %}
