{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
Blog - {{ title }}
{% endblock %}

{% block main_content %}
<div class="container _bgColor0">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <form method="post" action="" id="post_form" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div>
                    <!-- Titulo del post -->
                    <div class="form-group col-xs-12 _pl-0 _pr-0">
                        <label for="title">Titulo</label>
                        <input id="title" name="title" type="text" class="form-control" placeholder="enter your title here" maxlength="120" value="{{ post.title }}">
                    </div>
                    <!-- Categorias, status y fecha-->
                    <div class="col-xs-12 _pl-0 _pr-0">
                        <!-- Categorías -->
                        <div class="form-group col-xs-12 col-sm-6 pull-left _pl-0 _pr-0">
                            <label> Categorías </label><br>
                            {% for category in categories %}
                            <input type="checkbox" name="postcategory" value="{{ category.id }}" id="categoria_{{ category.id }}" autocomplete="off"
                                   {% for cat in post.postcategory_set.all %}
                                   {% if cat.category.id == category.id %}
                                   checked
                                   {% endif %}
                                   {% endfor %}/>
                            <div class="btn-group">
                                <label for="categoria_{{ category.id }}" class="btn btn-sm btn-{{ category.css_class}}">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span> </span>
                                </label>
                                <label for="categoria_{{ category.id }}" class="btn btn-sm btn-default active">
                                    {{ category.name }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Status y fecha del post -->
                        <div class="col-xs-12 col-sm-6 pull-right _pl-0 _pr-0">
                            <div class="form-group col-xs-12 col-sm-8 _pl-30 _pr-0">
                                <label>Estado del Post</label><br>
                                {% for id, label in form.status.field.choices %}
                                <input type="radio" name="status" value="{{ id }}" id="id_status_post_{{ id }}" required
                                       {%if post%} readonly {%if post.status == id%} checked {%endif%}{%endif%}
                                />
                                <div class="btn-group">
                                    <label for="id_status_post_{{ id }}" class="btn btn-sm btn-default">
                                        <span class="glyphicon glyphicon-ok"></span>
                                        <span> </span>
                                    </label>
                                    <label for="id_status_post_{{ id }}" class="btn btn-sm btn-default active">
                                        {{ label }}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="form-group col-xs-12 col-sm-4 _pl-0 _pr-0">
                                <label for="fecha">Fecha de publicación</label>
                                <div class='input-group date' id='fecha' name='fecha' style="width: 100%">
                                    <input type='text' id='published_date' name='published_date' class="form-control input-sm"
                                           value="{{ post.published_date|date:'YYYY-mm-dd HH:ii' }}" {%if post%}readonly{%endif%}/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#fecha').datetimepicker({
                                        showClear: true,
                                        showClose: true,

                                        format: 'YYYY-MM-DD hh:mm',
                                        locale: 'es'
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <!-- Imagenes -->
                    <div class="row">
                        <!-- Imagen principal -->
                        <div class="col-xs-12 col-sm-4 form-group _mt-20">
                            <label for="id_image_file">Imagen de cabecera</label>
                            <div class="file-loading">
                                <input type="file" id="id_image_file" name="image_file" accept=".jpg,.jpeg,.png" class="btn _btnColor1">
                            </div>
                            <script>
                            {% if post %}
                                var imagen_ppal = "{{post.image.image.url}}";
                            {% endif %}
                            $(document).on('ready', function(){
                                $("#id_image_file").fileinput({
                                    initialPreview: [
                                        {%if post%}
                                        imagen_ppal,
                                        {%endif%}
                                    ],
                                    initialPreviewAsData: true,
                                    initialPreviewConfig: [
                                         {%if post%}
                                         {% verbatim %}{{% endverbatim %}
                                         caption: "{{post.image.caption}}",
                                         downloadUrl: "{{post.image.image.url}}",
                                         size: {{post.image.image.size}},
                                         width: {{post.image.image.width}},
                                         height: {{post.image.image.height}},
                                         key: 1
                                         {% verbatim %}}{% endverbatim %}
                                         {%endif%}
                                    ],
                                    overwriteInitial: true,
                                    maxFileSize: 1024,
                                    initialCaption:"Imagen principal...",
                                    showUpload: false,
                                    allowedFileTypes: ['image']
                                });
                            });
                            </script>
                        </div>
                        <!-- Imagenes del post -->
                        <div class="col-xs-12 col-sm-8 form-group _mt-20">
                        <label for="id_postimage">Resto de imagenes del post</label>
                        <div class="file-loading">
                            <input type="file" id="id_postimage" name="postimage" accept=".jpg,.jpeg,.png" class="btn _btnColor1" multiple>
                        </div>
                        <script>
                            {% if post %}
                                var
                                {% for aux in post.postimage_set.all %}
                                    img{{aux.id}} = "{{aux.image.image.url}}"{%if forloop.last%};{%else%},{%endif%}
                                {% endfor %}
                            {% endif %}
                            $(document).on('ready', function(){
                                $("#id_postimage").fileinput({
                                    initialPreview: [
                                        {% for aux in post.postimage_set.all %}
                                            img{{aux.id}},
                                        {% endfor %}
                                    ],
                                    initialPreviewAsData: true,
                                    initialPreviewConfig: [
                                        {% for aux in post.postimage_set.all %}
                                            {% verbatim %}{{% endverbatim %}
                                             caption: "{{aux.image.caption}}",
                                             downloadUrl: "{{aux.image.image.url}}",
                                             size: {{aux.image.image.size}},
                                             width: {{aux.image.image.width}},
                                             height: {{aux.image.image.height}},
                                             key: {{ forloop.counter }}
                                             {% verbatim %}}{% endverbatim %},
                                        {% endfor %}
                                    ],
                                    overwriteInitial: true,
                                    maxFileSize: 1024,
                                    initialCaption: "Imagenes del post...",
                                    showUpload: false,
                                    allowedFileTypes: ['image']
                                });
                            });
                        </script>
                    </div>
                    </div>
                    <!-- Editor wysiwyg -->
                    <div class="form-group">
                        <label for="content">Contenido</label><br>
                        {% load wysiwyg %}
                        {% wysiwyg_setup %}
                        <textarea id="content" name="content">
                            {{ post.content }}
                        </textarea>
                        {% wysiwyg_editor "content" %}
                    </div>
                </div>
                <!-- Submit -->
                <div class="form-group pull-right _mt-0">
                    <button type="submit" type="button" class="btn _btnColor1 submit">
                        <i class="fa fa-cloud" aria-hidden="true"></i> Save post
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
{% endblock %}
