{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
Blog - Post
{% endblock %}

{% block edit_post %}
<li><a class="_btnColor4" href='{% url "blog:post_edit" id=post.id %}'>Edit Post</a></li>
{% endblock %}

{% block main_content %}
<div class="container _bgColor0">
    <div class="row">
        <!-- Contenido del post -->
        <div class="col-xs-12 col-md-8 _mt-20 pull-left">
            <article class="_previewXL">
                <!-- .entry-header -->
                <div class="_previewXL-Title">
                    <h3>{{ post.title }}</h3>
                    <span>{{ post.author }} on {{ post.timestamp }}
                        <a href="#form_comments" class="" data-toggle="tooltip" data-placement="left" title="Comments">
                            <i class="fa fa-comments"></i> {{ post.postcomment_set.all.count }} comments
                        </a>
                        <a id="id_like" href="#" class="" data-toggle="tooltip" data-placement="right" title="Loved">
                            <i class="fa fa-heart" style="{%if already_like == True%}color: #15B23A; font-weight: bold;{%endif%}"></i>
                            <input id="id_likes" value="{{ post.postlike_set.all.count }} likes"
                                style="border:none; background-color: transparent;
                                {%if already_like == True%} color: #15B23A; font-weight: bold;{%endif%}" readonly>
                        </a>
                        <script>
                             $("#id_like").click(function(e) {
                                e.preventDefault();
                                var self = $(this);
                                ajax_req = $.ajax({
                                    url: self.attr("href"),
                                    type: "POST",
                                    data: {
                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                    },
                                    success: function(ctx) {console.log(ctx);}
                                });
                                $('#id_likes').val = {{ post.postlike_set.all.count }} + " likes";
                            });
                        </script>
                    </span>
                    <img class="img-responsive _mt-10" width="100%"
                         {%if post.image %}
                            src="{{ post.image.image.url }}" >
                         {%endif%}
                </div>
                <!-- .entry-content -->
                <div class="_previewXL-Body">
                    {{ post.content|safe }}
                </div>
                <!-- .entry-footer -->
                <div class="_previewXL-Footer _mt-10">
                    <a href="{{post.author.get_absolute_url}}"><span>{{ post.author }}</span></a>
                    <span><small> posted on {{ post.timestamp }}</small></span>
                    <div class="_mt-5">
                        {% for post_category in post.postcategory_set.all %}
                        <a href="{{post_category.category.get_absolute_url}}" style="text-decoration: none">
                            <span class="label label-{{ post_category.category.css_class }}">
                                {{post_category.category.name}}
                            </span>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="dejarcomentario col-xs-12 _pl-0 _pr-0 _mt-10">
                    {% include "includes/form_comments.html" with post=post %}
                    {% include "includes/comments.html" with post=post %}
                </div>
            </article>
        </div>
        <!-- Sidebar derecha-->
        <div class="col-xs-12 col-md-4 _pl-sm-30 pull-right _pl-0 _pl-sm-20">
            <!-- Categorias-->
            <div class="col-xs-12 _mt-20">
                {% include "includes/side_categories.html" %}
            </div>
            <!-- Popular posts-->
            <div class="col-xs-12 _mt-20">
                {% include "includes/side_popular_posts.html" with comments_recent=comments_recent %}
            </div>
            <!-- Last pictures -->
            <div class="col-xs-12 _mt-20">
                {% include "includes/side_recent_images.html" with pictures_recent=pictures_recent %}
            </div>
        </div>
    </div>
</div>

{% endblock %}