{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
Blog - Post
{% endblock %}

{% block main_content %}
<div class="container _bgColor0">
    <div class="row">
        <!-- Contenido del post -->
        <div class="col-xs-12 col-md-8 _mt-20 pull-left">
            <article class="_previewXL">
                <!-- .entry-header -->
                <div class="_previewXL-Title">
                    <h3>{{ post.title }}</h3>
                    <span>{{ post.author }} on {{ post.timestamp }}
                        <a href="#form_comments" class="_ftColor0" data-toggle="tooltip" data-placement="left" title="Comments">
                            <i class="fa fa-comments"></i> {{ post.postcomment_set.all.count }} comments
                        </a>
                        <a id="like" href="#" class="_ftColor0" data-toggle="tooltip" data-placement="right" title="Loved">
                            <i class="fa fa-heart"></i>
                            <input id="numlikes" value="{{ post.num_likes }} likes" style="border:none;" readonly>
                        </a>
                        <script>
                             $("#like").click(function(e) {
                                e.preventDefault();
                                var self = $(this);
                                ajax_req = $.ajax({
                                    url: self.attr("href"),
                                    type: "POST",
                                    data: {
                                        name: "sebastian",
                                        csrfmiddlewaretoken: '{{ csrf_token }}',
                                    },
                                    success: function(ctx) {console.log(ctx);}
                                });
                                var likes = parseInt(document.getElementById("numlikes").value);
                                likes++;
                                document.getElementById("numlikes").value = likes + " likes";
                            });
                        </script>
                    </span>
                    <img src="{{ post.image.url }}" class="img-responsive _mt-10" width="100%">
                </div>
                <!-- .entry-content -->
                <div class="_previewXL-Body">
                    {{ post.content|safe }}
                </div>
                <!-- .entry-footer -->
                <div class="_previewXL-Footer">
                    <span>{{ post.author }} <small> posted on {{ post.timestamp }}</small></span>
                    <div class="_mt-5">
                        {% for post_category in post.postcategory_set.all %}
                        <span class="label label-{{ post_category.css_class }}">{{post_category.category</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="dejarcomentario col-xs-12 _pl-0 _pr-0 _mt-10">
                    {% include "includes/form_comments.html" with post=post %}
                    {% include "includes/comments.html" with post=post %}
                </div>
            </article>
        </div>
        <!-- Sidebar derecha-->
        <div class="col-xs-12 col-md-4 _pl-sm-30 pull-right _pl-0 _pl-sm-20">
            <!-- Categorias-->
            <div class="col-xs-12 _mt-20">
                {% include "includes/side_categories.html" %}
            </div>
            <!-- Popular posts-->
            <div class="col-xs-12 _mt-20">
                {% include "includes/side_popular_posts.html" with comments_recent=comments_recent %}
            </div>
            <!-- Last pictures -->
            <div class="col-xs-12 _mt-20">
                {% include "includes/side_recent_images.html" with pictures_recent=pictures_recent %}
            </div>
        </div>
    </div>
</div>

{% endblock %}