{% extends "base.html" %}

{% block main_content %}

<!-- Container de bootstrap (centrar contenido en pantalla -->
<div class="container _bgColor0">
    <!-- Row-->
    <section class="row">
        <!-- Una columna completa -->
        <div class="col-sm-12 _pl-0 _p">
            <form action="">
                <div class="form-group">
                    <input class="form-control" type="text" name="mailaddress" id="mailaddress" placeholder="Your email address..." autofocus required>
                    <input name="_csrf" id="token" type="hidden" value="aKcseI6i-FGe6_EmdBd2h-p2T3Wfol-Mrpd4">
                    <span class="help-block"><small>Enter the email address you used to sign-up.</small></span>
                </div>
                <div class="form-group" style="text-align: right;">
                    <button class="btn btn-success" type="submit">Reset Password</button>
                    <a href="#" data-dismiss="modal" class="btn btn-primary">Cancelar</a>
                </div>
            </form>
        </div>
    </section>
</div>

{% endblock %}