{% load staticfiles %}

<div class="col-xs-12">
    <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
        {% if not user.is_anonymous %}
        <div class="col-xs-12 _pl-0 _pr-0 _mb-0 form-group">
            <textarea class="form-control _aboutMessage" name="comment" id="comment" maxlength=275
                      placeholder="Escribe tu comentario... (máximo 275 caracteres)"></textarea>
        </div>
        <div class="form-group col-xs-12 col-sm-3 pull-right _pl-0 _pr-0 _mt-5 _mb-0" style="text-align: right;">
            <button type='submit' class="btn btn-md btn-block _btnColor1">
                <i class="fa fa-comment" aria-hidden="true"></i> Enviar comentario
            </button>
        </div>
        {%endif%}
        {% if user.is_anonymous %}
        <div class="form-group col-xs-12 _pl-0 _pr-0" style="border: 1px solid #dcd9c6; background-color: #fffcdb; text-align: center;">
            <ul class="list-inline _mt-10">
                <li class="list-inline-item _pl-0 _pr-0">
                    <a href="{% url 'login' %}" class="btn btn-lg btn-success">Log In</a>
                </li>
            </ul>
        </div>
        {%endif%}
    </form>
</div>