{% load staticfiles %}

<div class="col-xs-12">
    <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
        {% if not user.is_anonymous %}
        <div class="col-xs-12 _pl-0 _pr-0 _mb-0 form-group">
            <textarea class="form-control _aboutMessage" name="comment" id="comment" maxlength=275
                      placeholder="Escribe tu comentario... (máximo 275 caracteres)"></textarea>
        </div>
        <div class="form-group col-xs-12 _pl-0 _pr-0 _mt-5 _mb-0" style="text-align: right;">
            <button type='submit' class="btn btn-md _btnColor1">
                <i class="fa fa-comment" aria-hidden="true"></i> Enviar comentario
            </button>
        </div>
        {%endif%}
        {% if user.is_anonymous %}
        <div class="form-group col-xs-12 _pl-0 _pr-0" style="border: 1px solid #dcd9c6; background-color: #fffcdb; text-align: center;">
            <ul class="list-inline _mt-10">
                <li class="list-inline-item _pl-0 _pr-0">
                    <a href="{% url 'login' %}" class="btn btn-lg btn-success">Log In</a>
                </li>
                <li class="list-inline-item _pl-5 _pr-5">
                    <h4>para comentar, o conecta a través de tu red social</h4>
                </li>
                <li class="list-inline-item _pl-0 _pr-0">
                    <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-social-icon btn-lg btn-twitter">
                        <span class="fa fa-twitter"></span>
                    </a>
                </li>
                <li class="list-inline-item _pl-0 _pr-0">
                    <a href="{% url 'social:begin' 'github' %}" class="btn btn-social-icon btn-lg btn-github">
                        <span class="fa fa-github"></span>
                    </a>
                </li>
                <li class="list-inline-item _pl-0 _pr-0">
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-social-icon btn-lg btn-facebook">
                        <span class="fa fa-facebook"></span>
                    </a>
                </li>
                <li class="list-inline-item _pl-0 _pr-0">
                    <a href="{% url 'social:begin' 'google' %}" class="btn btn-social-icon btn-lg btn-google">
                        <span class="fa fa-google"></span>
                    </a>
                </li>
            </ul>
        </div>
        {%endif%}
    </form>
</div>