{% if messages %}
<div class="container _pt-5 _pb-5">
    <div class="row">
        <div class="col-xs-12">
            {% for message in messages %}
                {% if message.tags == "error" %}
                <div class="alert alert-danger _messages">
                {% elif message.tags == "success" %}
                <div class="alert alert-success _messages">
                {% else %}
                <div class="alert alert-info _messages">
                {% endif %}
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <li>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
            </div>
        </div>
    </div>
    {% if errors %}
    <div class="alert alert-danger">
        {{ errors }}
    </div>
    {% endif %}
</div>
{% endif %}
