{% load staticfiles %}

<small>Página {{ page.number }} de {{ page.paginator.num_pages }}</small>

<nav class="_mt-5" aria-label="Page navigation">
    <ul class="pagination _postPagination" style="margin-bottom: 0px; margin-top: 0px;">
        <li>
            {% if page.has_previous %}
            <a href="?{{ request }}={{ 1 }}" style="padding-left:0px;">
                <button class="btn _btnColor1 _pagination" aria-label="Previous"><span aria-hidden="true">&laquo;</span></button>
            </a>
            {% else %}
            <a style="padding-left:0px;">
                <button class="btn _btnColor1 _pagination disabled" aria-label="Previous"><span aria-hidden="true">&laquo;</span></button>
            </a>
            {% endif %}
        </li>

        {% if page.paginator.range %}
        {% for i in page.paginator.range %}
        <li><a href="?{{ request }}={{ i }}">
            {% if page.number == i %}
            <button class="btn _btnColor1 _pagination active">{{ i }}</button>
            {% else %}
            <button class="btn _btnColor1 _pagination">{{ i }}</button>
            {% endif %}
        </a></li>
        {% endfor %}
        {% else %}
        {% for i in page.paginator.page_range %}
        <li><a href="?{{ request }}={{ i }}">
            {% if page.number == i %}
            <button class="btn _btnColor1 _pagination active">{{ i }}</button>
            {% else %}
            <button class="btn _btnColor1 _pagination">{{ i }}</button>
            {% endif %}
        </a></li>
        {% endfor %}
        {% endif %}

        <li>
            {% if page.has_next %}
            <a href="?{{ request }}={{ page.paginator.num_pages }}">
                <button class="btn _btnColor1 _pagination" aria-label="Next"><span aria-hidden="true">&raquo;</span></button>
            </a>
            {% else %}
            <a>
                <button class="btn _btnColor1 _pagination disabled" aria-label="Next"><span aria-hidden="true">&raquo;</span></button>
            </a>
            {% endif %}
        </li>
    </ul>
</nav>
