{% load staticfiles %}

<!-- Preview de un post tipo card -->
<div class="_preview">
    <div class="_preview-title _bgColor0">
        <div class="_hover">
            <a href="{{ post.get_absolute_url }}">
                {% if post.image %}
                <figure><img src='{{ post.image.image.url }}' class="img-responsive" width="100%"></figure>
                {% else %}
                <figure><img src='{% static "img/dummy-post.jpg" %}' class="img-responsive" width="100%"></figure>
                {% endif %}
            </a>
        </div>
        <div style="height:60px; line-height: 60px; text-align: center;">
            <h4 style="display: inline-block; vertical-align: middle;">
                <a class="_ftColor1 _ftHColor3" href="{{ post.get_absolute_url }}">
                    {%if post%}
                    {{ post.title|title|truncatechars:70 }}
                    {%else%}
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequatur culpa.
                    {%endif%}
                </a>
            </h4>
        </div>
    </div>
    <div class="_preview-footer _bgColor1">
        <img class="_bgColor0 img-circle"
             {% if post.author.image %}
             src='{{ post.author.image.url }}'
             {% elif post.author.image_url%}
             src='{{ post.author.image_url }}'
             {% else %}
             src='{% static "img/dummy-user.png" %}'
             {% endif %} onclick="javascript:location.href='{{post.author.get_absolute_url}}'">
        <span>
            <a class="_ftColor0" href="{{post.author.get_absolute_url}}" data-toggle="tooltip" data-placement="left"
               title="Autor">
                {%if post%}
                {{ post.author.user.first_name|truncatechars:12 }}
                {%else%}
                Nobody
                {%endif%}
            </a>
        </span>
        <span class="pull-right">
            <a class="_ftColor0" href='{{ post.get_absolute_url }}#form_comments' data-toggle="tooltip" data-placement="left" title="Comentarios">
                <i class="fa fa-comments"></i>{%if post%} {{post.postcomment_set.all.count}}{%else%} 0{%endif%}
            </a>
            <a class="_ftColor0" href='{{ post.get_absolute_url }}#form_comments' data-toggle="tooltip" data-placement="right" title="Likes">
                <i class="fa fa-heart"></i>{%if post%} {{post.postlike_set.all.count}}{%else%} 0{%endif%}
            </a>
        </span>
        {% comment %}
        <div class="_preview-user _bgColor1">
            <img class="img-responsive"
                 {% if post.author.image %}
                 src='{{ post.author.image.url }}'
                 {% else %}
                 src='{% static "img/dummy-user.png" %}'
                 {% endif %}>
            <h3 class="_ftColor0">
                {% if post %}
                {{ post.author.user.first_name }}
                {% else %}
                Nobody
                {% endif %}
            </h3>
            <p class="_ftColor0">
                {% if post %}
                {{ post.author.description }}
                {% else %}
                Nothing
                {% endif %}
            </p>
            <div class="_preview-user-sn">
                <a href="#"><i class="fa fa-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook"></i></a>
                <a href="#"><i class="fa fa-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" data-placement="bottom" title="Google Plus"></i></a>
                <a href="#"><i class="fa fa-youtube" data-toggle="tooltip" data-placement="bottom" title="Youtube"></i></a>
                <a href="#"><i class="fa fa-github" data-toggle="tooltip" data-placement="bottom" title="Github"></i></a>
            </div>
        </div>
        {% endcomment %}
    </div>
</div>