{% load staticfiles %}

<!-- Preview de un post más pequeña-->
<div class="_previewXL">
    <div class="_previewXL-Title">
        <h3><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h3>
        <span>Por
            <a class="_enlace_negro_n" href="{{ post.author.user.userprofile.get_absolute_url }}">
                {{ post.author.user.first_name }}
            </a>
            <small> publicado en {{ post.published_date|date:"M d, Y" }}</small>
            <a href='{{ post.get_absolute_url }}#form_comments' class="_enlace_naranja" data-toggle="tooltip" data-placement="left"
               title="Comentarios"><i class="fa fa-comments"></i> {{post.postcomment_set.all.count}} comentarios
            </a>
            {% comment %}
            <a id="id_like" href='{{ post.get_absolute_url }}#form_comments' class="_enlace_naranja" data-toggle="tooltip"
               data-placement="right" title="Likes"><i class="fa fa-heart"></i> {{post.postlike_set.all.count}} likes
            </a>
            {% endcomment %}
        </span>
    </div>
    <div class="_previewXL-Body">
        <p>
            {{ post.content|safe|striptags|linebreaks|truncatewords_html:50 }}
            <br>
            <span><a href='{{ post.get_absolute_url }}'> leer mas...</a></span>
        </p>
    </div>
    <div class="_previewXL-Footer">
        {% for post_category in post.postcategory_set.all %}
        {% if post_category.post == post %}
        <a style="text-decoration: none;" href="{{ post_category.category.get_absolute_url }}">
            <span class="label label-{{ post_category.category.css_class }}">{{ post_category.category.name }}</span>
        </a>
        {% endif %}
        {% endfor %}
    </div>
</div>