{% load staticfiles %}

<!-- Preview de un post -->
<div class="_previewXL">
    <div class="_previewXL-Img">
        <a class="_pl-0" href='{{ post.get_absolute_url }}'>
            <img class="img-responsive _previewXL-Img"  style="height: 175px !important;" width="100%" {%if post.image %}src="{{ post.image.image.url }}" {%endif%}>
        </a>
    </div>
    <div class="_previewXL-Categories">
        {% for post_category in post.postcategory_set.all %}
        <a style="text-decoration: none;" href="{{ post_category.category.get_absolute_url }}">
            <span class="label label-{{ post_category.category.css_class }}">{{ post_category.category.name}}</span>
        </a>
        {% endfor %}
    </div>
    <div class="_previewXL-Title">
        <h3><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h3>
    </div>
    <div class="_previewXL-Body">
        <p>{{ post.summary|safe }}</p>
    </div>
    <div class="_previewXL-Footer _previewXL-FooterTitle _mb-10">
        <nav>
             <ul style="margin-bottom: 0px;">
                <li>
                    <a class="_enlace_negro_n" href="{{ post.author.user.userprofile.get_absolute_url }}">
                        <img class="img-circle img-responsive _previewXL-FooterAuthor"
                             {%if post.author.user.userprofile.image %}
                             src='{{ post.author.user.userprofile.image.url }}'
                             {%else%}
                             src='{% static "img/dummy-user.png" %}'
                             {%endif%}>
                        <span>{{ post.author.user.first_name }}</span>
                    </a>
                </li>
                <li>
                    <i class="fa fa-clock-o"></i>
                    <span>{{ post.published_date|date:"M d, Y" }}</span>
                </li>
                <li>
                    <a href='{{ post.get_absolute_url }}#form_comments' class="_enlace_naranja" data-toggle="tooltip" data-placement="left" title="Comentarios">
                        <i class="fa fa-comment-o"></i>
                        <span>{{post.postcomment_set.all.count}}</span>
                    </a>
                </li>
                <li>
                    <i class="fa fa-eye"></i>
                    <span>{{post.postview_set.all.count}}</span>
                </li>
                <li>
                    <i class="fa fa-thumbs-o-up"></i>
                    <span>{{post.postlike_set.all.count}}</span>
                </li>
            </ul>
        </nav>
    </div>
</div>