{% load staticfiles %}

<!-- Preview de un post -->
<div class="_previewXL">
    <div class="_previewXL-Title">
        <h3><a href='{{ post.get_absolute_url }}'>{{ post.title|title }}</a></h3>
        <span>Por
            <a class="_enlace_negro_n" href="{{ post.author.user.userprofile.get_absolute_url }}">
                {{ post.author.user.first_name }}
            </a>
            <small> publicado el {{ post.published_date|date:"M d, Y" }}</small>
            <a href='{{ post.get_absolute_url }}#form_comments' class="_enlace_naranja" data-toggle="tooltip" data-placement="left"
               title="Comentarios"><i class="fa fa-comments"></i> {{post.postcomment_set.all.count}} comentarios
            </a>
            <a id="id_like" href='{{ post.get_absolute_url }}#form_comments' class="_enlace_naranja" data-toggle="tooltip"
               data-placement="right" title="Loved"><i class="fa fa-heart"></i> {{post.postlike_set.all.count}} likes
            </a>
        </span>
    </div>
    <div class="_previewXL-Body">
        <!--<a href=""><img src='{{ post.image.image.url }}' class="img-rounded img-responsive" width="100%" style="max-height: 200px;"></a>-->
        <p>{{ post.content|safe|striptags|linebreaks|truncatewords_html:200 }}
            <span><a class="_pl-0" href='{{ post.get_absolute_url }}'>leer mas...</a></span>
        </p>
    </div>
    <div class="_previewXL-Footer">
        {% for post_category in post.postcategory_set.all %}
        <a style="text-decoration: none;" href="{{ post_category.category.get_absolute_url }}">
            <span class="label label-{{ post_category.category.css_class }}">{{ post_category.category.name}}</span>
        </a>
        {% endfor %}
    </div>
</div>