{% load staticfiles %}

<h2 class="_titleSection">POSTS POPULARES</h2>
<div class="_previewXSGroup">
    {% for post in posts_popular %}
    <div class="_previewXS">
        <a href='{{ post.get_absolute_url }}'>
            {% if post.image %}
            <img src='{{ post.image.image.url }}' alt="thumbnail" class="img-rounded" height="55px">
            {% else %}
            <img src='{% static "img/dummy-post.jpg" %}' alt="thumbnail" class="img-rounded" height="55px">
            {% endif %}
        </a>
        <a href='{{ post.get_absolute_url }}' class='_enlace_naranja'><p>{{ post.title|title }}...</a>
        <p>
            <span>Por
                <strong><a class="_enlace_negro_n" href="{{ post.author.user.userprofile.get_absolute_url }}">
                    {{ post.author.user.first_name }}</a>
                </strong>
                <small> hace {{ post.published_date|timesince }} </small>
            </span>
        </p>
    </div>
    {% endfor %}
</div>