{% load static %}

<h2 class="_titleSection">COMENTARIOS RECIENTES</h2>
<div class="_lastCommentsXS">
    {% for post_comment in comments_recent %}
    <div class="_commentXS">
        <p>
            <a class="_enlace_negro_n" href="{{ post_comment.comment.user.userprofile.get_absolute_url }}">
                <span>{{ post_comment.comment.user.first_name }}</span>
            </a>
            <small> hace {{ post_comment.comment.timestamp|timesince }}</small>
        </p>
        <h5>
            <a href="{{ post_comment.post.get_absolute_url }}">
                {{ post_comment.post.title|title }}
            </a>
        </h5>
        <p>{{ post_comment.comment.content }} </p>
    </div>
    {% endfor %}
</div>