<!DOCTYPE html>
<html lang="es-ES">

<!-- Head -->
{% load static %}
<head>
    <!-- Metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootsrap 3.3.0 -->
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-3.3.0.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-datetimepicker-4.17.47.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/font-awesome.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-social.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/fileinput.css" %}'/>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Monda:400,700,900" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet" type="text/css">
    <!-- Google -->
    <link rel="stylesheet" type="text/css" href='{% static "css/google_bungee.css" %}'>
    <!-- Mis Estilos -->
    <link rel="stylesheet" type="text/css" href='{% static "css/estilos.css" %}'/>
    <!-- Blog title-->
    <title>La Estancia Azul</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:type" content= "website" />
    <meta property="og:url" content="https://bernaldev.com"/>
    <meta property="og:site_name" content="La Estancia Azul - Blog" />
    <meta property="og:image" itemprop="image primaryImageOfPage" content="/static/favicon/apple-icon-180x180.png" />
    <!-- Javascript files-->
    <script src='{% static "js/jquery-1.11.1.js" %}'></script>
    <script src='{% static "js/moment-2.9.0.js" %}'></script>
    <script src='{% static "js/bootstrap-3.3.0.js" %}'></script>
    <script src='{% static "js/bootstrap-datetimepicker-4.14.30.js" %}'></script>
    <script src='{% static "js/fileinput.js" %}'></script>
</head>

<!-- Body -->
<body class="_bgColor0">

<!-- Head -->
<header class="_bgColor1 _ftColor3">
    <!-- Contenedor para centrar la cabecera -->
    <div class="container">
        <!-- Barra superior con brand y usuario -->
        <div class="row">
            <div class="hidden-xs col-xs-12 pull-left _mt-10 _mb-10">
                <a href="/">
                    <h1 class="_ftColor3 _logoTexto">La Estancia Azul</h1>
                </a>
            </div>
        </div>
        <!-- Barra de navegación inicial -->
        <div class="row">
            <nav class="navbar navbar-inverse _bgColor1" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="buton" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-controls="navbar" aria-expanded="false" aria-label="Menú de Navegación">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-sm hidden-md hidden-lg hidden-xl" href="/"><span class="_ftColor3 _logoTextoXS">La Estancia Azul</span></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="myNavbar">
                    <!-- Menú izquierda: navegación por la web-->
                    <ul class="nav navbar-nav navbar-left">
                        <li class="{% block activo_home %} {% endblock %}"><a class="_ftColor1" href="{% url 'blog:index' %}">Principal</a></li>
                        <li class="{% block activo_about %} {% endblock %}"><a href="{% url 'user:profile' id=1%}">Contacto</a></li>
                        <li class="{% block activo_category %} {% endblock %} dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Categorias <span class="caret"></span></a>
                            <ul class="dropdown-menu _bgColor1" role="menu">
                                {% for category in categories %}
                                <li><a class="_btnColor4" href='{{ category.get_absolute_url }}'>{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="{% block activo_archive %} {% endblock %}"><a href="{% url 'blog:archive' 2022 13%}">Archivo</a></li>
                        <li class="{% block activo_gallery %} {% endblock %}"><a href="{% url 'blog:gallery' %}">Galeria</a></li>
                    </ul>
                    <!-- Menú derecha: búsqueda y inicio/cierre sesión-->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="input-group form-group-sm">
                                    <input id="id_search" type="text" class="form-control form-control-sm" placeholder="Search">
                                    <div class="input-group-btn">
                                        <a id="id_search_a" class="btn btn-sm _btnColor3" onclick="redirectURL();return false;">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </a>
                                    </div>
                                </div>
                                <script>
                                    $("#id_search").keyup(function(event) {
                                        if (event.keyCode === 13) {
                                            $("#id_search_a").click();
                                        }
                                    });

                                    function redirectURL () {
                                        filter = document.getElementById("id_search").value;
                                        filter = filter.replace(/\s+/g, '-').toLowerCase();
                                        if (filter != '')
                                            window.location = "/search/" + filter;
                                    }
                                </script>
                            </form>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-lock"></span>
                                <span> {{ user.first_name }}</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu _bgColor0">
                                <li>
                                    <div class="navbar-login col-xs-12 _pt-15 _pb-15">
                                        <div class="col-xs-12 _pt-10 _pb-10">
                                            <div class="col-xs-4 _pd-0 ">
                                                <img class="_bgColor0 img-rounded" width="100%" height="80px"
                                                     {%if user.userprofile.image%}
                                                     src='{{ user.userprofile.image.url }}'
                                                     {%else%}
                                                     src='{% static "img/dummy-user.png" %}'
                                                     {%endif%}>
                                            </div>
                                            <div class="col-xs-8 ">
                                                <p class="text-left">
                                                    <strong>{{ user.first_name }}</strong><br>
                                                    <small>{{ user.email }}</small>
                                                    <br>
                                                    <small>{{ user.userprofile.description }}</small>
                                                    <br>
                                                    <small>{{ user.userprofile.country }} ({{ user.userprofile.location }})</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 _pd-0">
                                            {% if user.is_authenticated %}
                                                {% if post == false %}
                                                    {% if user.is_staff %}
                                                        <a class="btn btn btn-warning btn-block btn-sm" href="{% url 'admin:index' %}">
                                                            <span class="glyphicon glyphicon glyphicon-cog"></span> Admin Django
                                                        </a>
                                                    {% endif %}
                                                    <a class="btn btn btn-info btn-block btn-sm" href="{% url 'user:register' %}">
                                                        <span class="glyphicon glyphicon-edit"></span> Editar perfil
                                                    </a>
                                                    <button class="btn btn btn-primary btn-block btn-sm" href="#disconnectModal" data-toggle="modal" data-target="#disconnectModal">
                                                        <span class="glyphicon glyphicon-log-out"></span> Logout
                                                    </button>   
                                                    {% if user.userprofile.author %}    
                                                        <a class="btn btn-success btn-block btn-sm" href='{% url "blog:post_create" %}'>
                                                            <span class="glyphicon glyphicon-pencil"></span> Crear post
                                                        </a>
                                                        <a class="btn btn-danger btn-block btn-sm" href='{% url "blog:search" "_not_published_" %}'>
                                                            <span class="glyphicon glyphicon-inbox"></span> Posts borrador
                                                        </a>
                                                    {% endif %}
                                                {% elif post.author == user.userprofile %}
                                                    <a class="btn btn-success btn-block btn-sm" href='{% url "blog:post_edit" id=post.id %}'>
                                                        <span class="glyphicon glyphicon-inbox"></span> Edit Post
                                                    </a>
                                                    <a class="btn btn-danger btn-block btn-sm" href="#deletePost" data-toggle="modal" data-target="#deletePost" data-value="1">
                                                        <span class="glyphicon glyphicon-inbox"></span> Delete Post
                                                    </a>
                                                {% endif %}
                                            {% else %}
                                                <a class="btn btn-success btn-block btn-sm" href="{% url 'login' %}">
                                                    <span class="glyphicon glyphicon-log-in"></span> Login
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="{% block activo_login %} {% endblock %} dropdown">
                            <a class="btn btn-block btn-sm" href="{% url 'login' %}">
                                <span class="glyphicon glyphicon-log-in"></span> Login
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    {% if post.author == user.userprofile %}
                    <!-- Ventana modal borrar post -->
                    <div class="modal fade" id="deletePost">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h2>Borrar post</h2>
                                    <p>¿Está seguro de que desea borrar el post?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href='{% url "blog:post_delete" id=post.id %}'>
                                        <button class="btn btn-danger" type="submit">Borrar</button>
                                    </a>
                                    <a href="#" data-dismiss="modal" class="btn btn-primary">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Ventana modal cerrar sesion -->
                    <div class="modal fade" id="disconnectModal">
                        <div class="modal-dialog ">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h2>Cerrar sesión</h2>
                                    <p>¿Está seguro de que desea desconectar la sesión?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'logout' %}?next=/">
                                        <button class="btn btn-success" type="submit">Desconectar</button>
                                    </a>
                                    <a href="#" data-dismiss="modal" class="btn btn-primary">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<!-- Bloque principal -->
<main class="">
    {% block header %}
    {% endblock %}

    {% include "includes/messages.html" %}

    {% block main_content %}
    {% endblock %}
</main>

<!-- Footer -->
<footer id="footer" class="_bgColor1 _ftColor0T">
    <!-- Barra superior y de share - Solo visible con varnab completa -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-5 right-border _pr-sm-20">
                <div class="footer-about">
                    <div class="col-xs-12 _pl-0 _pr-0">
                        <h2 class="footer-title">Sobre 'La Estancia Azul'</h2>
                        <p class="_textJustify">Jeffery Deaver acuña este término en su libro <a class="_a-verde" href="https://www.jefferydeaver.com/novel/the-blue-nowhere/">
                            "The blue nowhere"</a>, describiendolo como el intangible mundo de la electricidad y la luz... el neverland de los hackers.
                            <br><br>En esta página publicaré artículos sobre tecnología, programación, mis propios hobbies, y en definitiva podeis tomarlo
                            como una especie de diario personal sobre mis andanzas en la estancia azul.</p>
                    </div>
                    <div class="col-xs-12 _pl-0 _pr-0 _mt-5 single">
                        <h6>Desarrollado por:
                            <p class="_ml-10 _mt-5">
                                <i class="fa fa-envelope"></i>
                                <a class="_a-verde" href="mailto:info@bernaldev.com">Ismael - info@bernaldev.com</a>
                            </p>
                        </h6>
                    </div>
                    <div class="col-xs-12 col-sm-8 _mt-5 _pl-0 _pr-0 single">
                        <h6>Compartir:</h6>
                        <ul class="list-inline _mt-5">
                            <li class="list-inline-item">
                                <a class="btn btn-social-icon btn-lg btn-twitter"
                                   href="http://twitter.com/share?text=La+estancia+azul&url=https://bernaldev.com&hashtags=programación, formacion, django, python, hobby">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-social-icon btn-lg btn-facebook"
                                   href="http://www.facebook.com/sharer.php?u=https://bernaldev.com">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn btn-social-icon btn-lg btn-google"
                                   href="https://plus.google.com/share?url=https://bernaldev.com">
                                    <span class="fa fa-google"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3 right-border _pl-sm-20 _pr-sm-20">
                <div class="footer-about">
                    <div class="col-xs-12 _pl-0 _pr-0">
                        <h2 class="footer-title">Desarrollado con</h2>
                        <div id="powered" class="footer-powered">
                            <a href="https://en.wikipedia.org/wiki/HTML5">
                                <img src='{% static "img/HTML5.png" %}' class="img-rounded" alt="powered_by">
                            </a>
                            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3">
                                <img src='{% static "img/css3.png" %}' class="img-rounded" alt="powered_by">
                            </a>
                            <a href="http://bootstrapdocs.com/v3.3.0/docs/getting-started/">
                                <img src='{% static "img/bootstrap3.png" %}' class="img-rounded" alt="powered_by">
                            </a>
                            <a href="https://www.python.org/">
                                <img src='{% static "img/python.jpg" %}' class="img-rounded" alt="powered_by">
                            </a>
                            <a href="https://www.djangoproject.com/">
                                <img src='{% static "img/django.png" %}' class="img-rounded" alt="powered_by">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4 _pl-sm-20">
                <div class="footer-about">
                    <div class="col-xs-12 _pb-20 _pl-0 _pr-0">
                        <div class="navigation">
                            <h2 class="footer-title">Navegación</h2>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'blog:index' %}">Principal</a></li>
                                <li><a href="{% url 'user:profile' id=1 %}">Contacto</a></li>
                                <li><a href="{% url 'blog:category' id='all' %}">Categorías</a></li>
                                <li><a href="{% url 'blog:archive' 2018 13 %}">Archivo</a></li>
                                <li><a href="{% url 'blog:gallery' %}">Galeria</a></li>
                                <li><a href="{% url 'blog:privacidad' %}">Política Privacidad</a></li>
                                <li><a href="{% url 'blog:cookies' %}">Política Cookies</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

  
<div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog-cookies" role="document">
        <div class="modal-content">
            <div class="modal-body">
            <div class="notice d-flex justify-content-between align-items-center">
                <div class="cookie-text"><p>Esta web utiliza cookies para personalizar el contenido, análisis de tráfico y poder proporcionar la mejor experiencia.</p></div>
                <div class="buttons d-flex flex-column flex-lg-row">
                    <a href="#" class="btn btn-success btn-sm" data-dismiss="modal">Acepto</a>
                    <a href="{% url 'blog:cookies' %}" class="btn btn-secondary btn-sm">Leer más</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- My scripts -->
<script>
jQuery(document).ready(function() {  
    $('#cookieModal').modal('show');
});

jQuery(window).resize(function() {
    var divWidth = $('#powered').width();
    $('#powered').css('height', divWidth/6);
});

jQuery(document).ready(function() {
    var divWidth = $('#powered').width();
    $('#powered').css('height', divWidth/6);
});
</script>
{% block body_js %}
{% endblock %}
</body>

</html>
