{% extends "base.html" %}

{% load static %}

{% block main_content %}
<div class="container _bgColor0">
    <div class="row">
        <!-- Contenido del post -->
        <div class="col-xs-12 col-md-8 _mt-20 pull-left">
            <article class="_previewXL">
                <!-- entry header -->
                <div class="row">
                    <div class="_previewXL-Img" style="max-height: 150px;">
                        <img class="img-responsive col-xs-12" src="https://bernaldev.com/media/post/politicacookies/politica-cookies.jpg">
                    </div>
                    <div class="_previewXL-Title col-xs-12 _mt-10">
                        <h3>POLITICA DE COOKIES</h3>
                    </div>
                </div>
                <!-- entry-content -->
                <div class="row _mt-10">
                    <div class="_previewXL-Body col-xs-12">
                        <p>En esta web utilizamos cookies para facilitar la persistencia de datos en sesi&oacute;n &uacute;nicamente para aquellos usuarios que tienen credenciales para acceder a la secci&oacute;n privada.&nbsp;</p>

                        <p>En cumplimiento de la Directiva 2009/136/CE, desarrollada en nuestro ordenamiento por el apartado segundo del art&iacute;culo 22 de la Ley de Servicios de Sociedad de la Informaci&oacute;n, siguiendo las directrices de la Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos, procedemos a informarle detalladamente del uso que se realiza en nuestra web.</p>

                        <p>Se denominan cookies a unos peque&ntilde;os archivos que se graban en el navegador utilizado por cada visitante de nuestra web para que el servidor pueda recordar la visita de ese usuario con posterioridad cuando vuelva a acceder a nuestros contenidos. Esta informaci&oacute;n no revela su identidad, ni dato personal alguno, ni accede al contenido almacenado en su pc, pero s&iacute; que permite a nuestro sistema identificarle a usted como un usuario determinado que ya visit&oacute; la web con anterioridad, visualiz&oacute; determinadas p&aacute;ginas, etc. y adem&aacute;s permite guardar sus preferencias personales e informaci&oacute;n t&eacute;cnica como por ejemplo las visitas realizadas o p&aacute;ginas concretas que visite.</p>

                        <p>La finalidad de las cookies es la de facilitar al Usuario un acceso m&aacute;s r&aacute;pido a los Servicios seleccionados.</p>

                        <p>Si no desea que se guarden cookies en su navegador o prefiere recibir una informaci&oacute;n cada vez que una cookie solicite instalarse, puede configurar sus opciones de navegaci&oacute;n para que se haga de esa forma. La mayor parte de los navegadores permiten la gesti&oacute;n de las cookies de 3 formas diferentes:</p>

                        <ul>
                            <li>Las cookies son siempre rechazadas;</li>
                            <li>El navegador pregunta si el usuario desea instalar cada cookie;</li>
                            <li>Las cookies son siempre aceptadas;</li>
                        </ul>

                        <p>Su navegador tambi&eacute;n puede incluir la posibilidad de seleccionar con detalle las cookies que desea que se instalen en su ordenador. En concreto, el usuario puede normalmente aceptar alguna de las siguientes opciones:</p>

                        <ul>
                            <li>rechazar las cookies de determinados dominios;</li>
                            <li>rechazar las cookies de terceros;</li>
                            <li>aceptar cookies como no persistentes (se eliminan cuando el navegador se cierra);</li>
                            <li>permitir al servidor crear cookies para un dominio diferente.</li>
                        </ul>

                        <p><strong>Para permitir, conocer, bloquear o eliminar las cookies instaladas en su equipo puede hacerlo mediante la configuraci&oacute;n de las opciones del navegador instalado en su ordenador.</strong></p>

                        <p>Puede encontrar informaci&oacute;n sobre c&oacute;mo configurar los navegadores m&aacute;s usados en las siguientes ubicaciones:</p>

                        <ul>
                            <li><strong>Internet Explorer</strong>: Herramientas -&gt; Opciones de Internet&nbsp;-&gt; Privacidad&nbsp;-&gt; Configuraci&oacute;n. Para m&aacute;s informaci&oacute;n, puede consultar el&nbsp;<a href="http://windows.microsoft.com/es-ES/windows/support">soporte de Microsoft</a>&nbsp;o la Ayuda del navegador.</li>
                            <li><strong>Firefox</strong>: Herramientas&nbsp;-&gt; Opciones&nbsp;-&gt; Privacidad&nbsp;-&gt; Historial&nbsp;-&gt; Configuraci&oacute;n Personalizada. Para m&aacute;s informaci&oacute;n, puede consultar el&nbsp;<a href="http://support.mozilla.org/es/home">soporte de Mozilla</a>&nbsp;o la Ayuda del navegador.</li>
                            <li><strong>Chrome</strong>: Configuraci&oacute;n&nbsp;-&gt; Mostrar opciones avanzadas&nbsp;-&gt; Privacidad&nbsp;-&gt; Configuraci&oacute;n de contenido. Para m&aacute;s informaci&oacute;n, puede consultar el&nbsp;<a href="http://support.google.com/chrome/?hl=es">soporte de Google</a>&nbsp;o la Ayuda del navegador.</li>
                            <li><strong>Safari</strong>: Preferencias&nbsp;-&gt; Seguridad. Para m&aacute;s informaci&oacute;n, puede consultar el&nbsp;<a href="http://www.apple.com/es/support/safari/">soporte de Apple</a>&nbsp;o la Ayuda del navegador.</li>
                        </ul>

                        <p>Respecto de las cookies de terceros, es decir aquellas que son ajenas a nuestro sitio web, no podemos hacernos responsables del contenido y veracidad de las pol&iacute;ticas de privacidad que ellos incluyen por lo que la informaci&oacute;n que le ofrecemos es siempre con referencia a la fuente.</p>

                        <p>A continuaci&oacute;n le informamos detalladamente de las cookies que pueden instalarse desde nuestro sitio web. En funci&oacute;n de su navegaci&oacute;n podr&aacute;n instalarse todas o s&oacute;lo algunas de ellas.</p>

                        <ul>
                            <li>
                                <strong>csrftoken: </strong> Se activa durante el login y guarda los detalles de autentificaci&oacute;n.
                            </li>
                            <li>
                                <strong>sessionid: </strong> Se activa durante el login y guarda los detalles de autentificaci&oacute;n.
                            </li>
                        </ul>

                        <p>Se puede modificar esta Pol&iacute;tica de Cookies en funci&oacute;n de exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha pol&iacute;tica a las instrucciones dictadas por la Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos, por ello se aconseja a los Usuarios que la visiten peri&oacute;dicamente.</p>

                        <p>Cuando se produzcan cambios significativos en esta Pol&iacute;tica de Cookies, se comunicar&aacute;n a los Usuarios bien mediante la web o a trav&eacute;s de correo electr&oacute;nico a los Usuarios registrados.</p>

                    </div>
                </div>
            </article>
        </div>
        <!-- Sidebar derecha-->
        <div class="col-xs-12 col-md-4 pull-right _pl-0 _pr-0 _pl-sm-30">
            <!-- Categorias-->
            <div class="col-xs-12 _mt-20">
                {% include "includes/side_categories.html" %}
            </div>
            <!-- Popular posts-->
            <div class="col-xs-12 _mt-20">
                {% include "includes/side_popular_posts.html" with comments_recent=comments_recent %}
            </div>
            <!-- Last comments-->
            <div class="col-xs-12 _mt-30">
                {% include "includes/side_recent_comments.html" with comments_recent=comments_recent %}
            </div>
        </div>
    </div>
</div>

{% endblock %}