{% extends "base.html" %}

{% load static %}

{% block activo_gallery %}
active
{% endblock %}

{% block main_content %}

<!-- Bloque principal -->
<div class="container _bgColor0 _pb-0">
    <div class="row">
        <div class="col-xs-12 _mt-20">
            <h2 class="_titleSection _mb-0  ">GALLERY</h2>
            <div class="row _pb-20">
                {% for post_image in post_images %}
                <div class="col-xs-6 col-sm-2 _mt-20 gallery_image">
                    <a href="#" data-toggle="modal" data-target="#modal_gallery">
                        <img src="{{post_image.image.image.url}}" width="100%" height="150px;" class="img-rounded">
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {% include "includes/pagination.html" with page=post_images request=page_request %}
                </div>
            </div>
        </div>
    </div>

    <!-- modal image -->
    <div class="modal fade" id="modal_gallery">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img id="img_modal_gallery" src="" class="img-rounded img-responsive" width="100%" data-dismiss="modal" style="max-height: 600px;">
            </div>
        </div>
    </div>
    <!-- jquery -->
    <script>
    $(function(){
        $('.gallery_image').on('click', function() {
            $('#modal_gallery').modal;
            var ruta_imagen = ($(this).find('img').attr('src'));
            ruta_imagen = ruta_imagen.replace("small_", "");
            $('#img_modal_gallery').attr('src', ruta_imagen);
            $('#href_modal_gallery').attr('href', ruta_imagen);
        });
    })
    </script>

</div>

{% endblock %}