{% extends "base.html" %}

{% load staticfiles %}

{% block activo_gallery %}
active
{% endblock %}

{% block main_content %}

<!-- Bloque principal -->
<div class="container _bgColor0 _pb-0">
    <div class="row">
        <div class="col-xs-12 _mt-20">
            <h2 class="_titleSection _mb-0  ">GALLERY</h2>
            <div class="row _pb-20">
                {% for post_image in post_images %}
                <div class="col-xs-6 col-sm-2 _mt-20">
                    <a href="#image_detail{{post_image.image.id}}" data-toggle="modal" data-target="#image_detail{{post_image.image.id}}">
                        <img src="{{post_image.image.image.url}}" width="100%" height="150px;" class="img-rounded">
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {% include "includes/pagination.html" with page=post_images request=page_request %}
                </div>
            </div>
        </div>
    </div>

    <!-- Ventana modal cerrar sesion -->
    {% for post_image in post_images %}
    {% include "includes/modal_image.html" with post_image=post_image %}
    {% endfor %}

</div>

{% endblock %}