{% extends "base.html" %}

{% load staticfiles %}

{% block edit_post %}
{% if post.author == user.userprofile %}
<li><a class="_btnColor4" href='{% url "blog:post_edit" id=post.id %}'>Edit Post</a></li>
{% endif %}
{% endblock %}

{% block main_content %}
<div class="container _bgColor0">
    <div class="row">
        <!-- Contenido del post -->
        <div class="col-xs-12 col-md-8 _mt-20 pull-left">
            <article class="_previewXL">
                <!-- entry header -->
                <div class="row">
                    <div class="_previewXL-Title col-xs-12">
                        <h3>{{post.title}}</h3>
                        <a class="_enlace_negro_n" href="{{post.author.get_absolute_url}}">
                            <span>{{post.author}}</span>
                        </a> publicado el {{post.timestamp}}
                        <a href="#form_comments" class="_enlace_naranja" data-toggle="tooltip" data-placement="left" title="Comments">
                            <i class="fa fa-comments"></i> {{post.postcomment_set.all.count}} comentarios</a>
                        <a id="id_like" href="#" class="_enlace_naranja" data-toggle="tooltip" data-placement="right" title="Loved">
                            <i class="fa fa-heart" style="{%if already_like == True%}color: #15B23A; font-weight: bold;{%endif%}"></i>
                            <span style="{%if already_like == True%}color: #15B23A; font-weight: bold;{%endif%}">
                                {{post.postlike_set.all.count}} likes
                            </span>
                        </a>
                        <script>
                         $("#id_like").click(function(e) {
                            e.preventDefault();
                            var self = $(this);
                            ajax_req = $.ajax({
                                url: self.attr("href"),
                                type: "POST",
                                data: {
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                },
                                success: function(ctx) {console.log(ctx);}
                            });
                            $('#id_likes').val = {{ post.postlike_set.all.count }} + " likes";
                        });
                        </script>
                        <img class="img-responsive img-rounded _mt-20" width="100%" {%if post.image %}src="{{ post.image.image.url }}" {%endif%}>
                    </div>
                </div>
                <!-- entry-content -->
                <div class="row _mt-10">
                    <div class="_previewXL-Body col-xs-12">
                        {{ post.content|safe }}
                    </div>
                </div>
                <!-- entry-footer -->
                <div class="row _mt-10">
                    <div class="_previewXL-Footer col-xs-12">
                        <!-- imagenes del post -->
                        {% if post.postimagesmall_set.count > 0 %}
                        <div class="row">
                            <div class="col-xs-12">
                                <hr>
                                <h5><strong><i>Galeria de imagenes del post:</i></strong></h5>
                            </div>
                            {% for post_image_sm in post_images_small %}
                            <div class="col-xs-4 col-sm-2 _mt-10 _pr-10 imagen_post">
                                <a href="#" data-toggle="modal" data-target="#post_modal">
                                    <img src="{{post_image_sm.image.image.url}}" class="img-rounded img-responsive" style="height: 100px;">
                                </a>
                            </div>
                            {% endfor %}
                            {% if post.postimagesmall_set.count > 0 %}
                            <div class="col-xs-12 _mt-10">
                                {% include "includes/pagination.html" with page=post_images_small request=page_request %}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        <!-- firma del post -->
                        <div class="row _mt-30">
                            <!-- edición -->
                            <div class="col-xs-12 {% if not updated %}hidden{% endif %}">
                                <p>
                                    <small>Última edición hace {{ post.updated|timesince }}</small>
                                </p>
                            </div>
                            <!-- autor -->
                            <div class="col-xs-12">
                                <a class="_enlace_negro_n" href="{{post.author.get_absolute_url}}"><span>{{ post.author }}</span></a>
                                <span><small> publicado el {{ post.timestamp }}</small></span>
                            </div>                        <!-- autor -->
                            <!-- categorias del post -->
                            <div class="_div-categories col-xs-12">
                                {% for post_category in post.postcategory_set.all %}
                                <a class="_category" href="{{post_category.category.get_absolute_url}}">
                                    <span class="label label-{{ post_category.category.css_class }}">
                                        {{post_category.category.name}}
                                    </span>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- comentarios -->
                        {% if post.status == 'PB' %}
                        <div class="row _mt-10" id="form_comments">
                            <div class="dejarcomentario col-xs-12 _mt-10 _pl-0 _pr-0">
                                {% include "includes/form_comments.html" with post=post %}
                                {% include "includes/comments.html" with post=post %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </article>
        </div>
        <!-- Sidebar derecha-->
        <div class="col-xs-12 col-md-4 pull-right _pl-0 _pr-0 _pl-sm-30">
            <!-- Categorias-->
            <div class="col-xs-12 _mt-20">
                {% include "includes/side_categories.html" %}
            </div>
            <!-- Popular posts-->
            <div class="col-xs-12 _mt-20">
                {% include "includes/side_popular_posts.html" with comments_recent=comments_recent %}
            </div>
            <!-- Last comments-->
            <div class="col-xs-12 _mt-30">
                {% include "includes/side_recent_comments.html" with comments_recent=comments_recent %}
            </div>
        </div>
    </div>
</div>

<!-- modal image -->
<div class="modal fade" id="post_modal">
    <div class="modal-dialog d-flex modal-lg">
        <div class="modal-content">
            <img id="img_post_modal" src="" alt="" width="100%" data-dismiss="modal" style="max-height: 600px;">
        </div>
    </div>
    <!-- jquery -->
    <script>
    $(function(){
        $('.imagen_post').on('click', function() {
            $('#post_modal').modal;
            var ruta_imagen = ($(this).find('img').attr('src'));
            ruta_imagen = ruta_imagen.replace("small_", "");
            $('#img_post_modal').attr('src', ruta_imagen);
        });
    })
    </script>
</div>


{% endblock %}