{% extends "base.html" %}

{% load static %}

{% block main_content %}
<div class="container _bgColor0">
    <div class="row">
        <!-- Contenido del post -->
        <div class="col-xs-12 col-md-8 _mt-20 pull-left">
            <article class="_previewXL">
                <!-- entry header -->
                <div class="row">
                    <div class="_previewXL-Img" style="max-height: 150px;">
                        <img class="img-responsive col-xs-12" src="https://bernaldev.com/media/post/politicaprivacidad/Privacidad-banner.jpg">
                    </div>
                    <div class="_previewXL-Title col-xs-12 _mt-10">
                        <h3>POLITICA DE PRIVACIDAD</h3>
                    </div>
                </div>
                <!-- entry-content -->
                <div class="row _mt-10">
                    <div class="_previewXL-Body col-xs-12">
                        <p>&Uacute;ltima actualizaci&oacute;n: Febrero 2023.</p>

                        <p><strong>1. INFORMACI&Oacute;N AL USUARIO</strong></p>

                        <p><strong>Bernaldev.com</strong>, como Responsable del Tratamiento, le informa que, seg&uacute;n lo dispuesto en el Reglamento (UE) 2016/679, de 27 de abril, (RGPD) y en la L.O. 3/2018, de 5 de diciembre, de protecci&oacute;n de datos y garant&iacute;a de los derechos digitales (LOPDGDD), trataremos su datos tal y como reflejamos en la presente Pol&iacute;tica de Privacidad.</p>

                        <p>En esta Pol&iacute;tica de Privacidad describimos c&oacute;mo recogemos sus datos personales y por qu&eacute; los recogemos, qu&eacute; hacemos con ellos, con qui&eacute;n los compartimos, c&oacute;mo los protegemos y sus opciones en cuanto al tratamiento de sus datos personales.</p>

                        <p>Esta Pol&iacute;tica se aplica al tratamiento de sus datos personales recogidos por la empresa para la prestaci&oacute;n de sus servicios. Si acepta las medidas de esta Pol&iacute;tica, acepta que tratemos sus datos personales como se define en esta Pol&iacute;tica.</p>

                        <p><strong>2. CONTACTO</strong></p>

                        <p>e-mail: <strong>info@bernaldev.com</strong></p>

                        <p><strong>3. PRINCIPIOS CLAVE</strong></p>

                        <p>Siempre hemos estado comprometidos con prestar nuestros servicios con el m&aacute;s alto grado de calidad, lo que incluye tratar sus datos con seguridad y transparencia. Nuestros principios son:</p>

                        <ul>
                            <li><strong>Legalidad</strong>: Solo recopilaremos sus Datos personales para fines espec&iacute;ficos, expl&iacute;citos y leg&iacute;timos.</li>
                            <li><strong>Minimizaci&oacute;n de datos</strong>: Limitamos la recogida de datos de car&aacute;cter personal a lo que es estrictamente relevante y necesario para los fines para los que se han recopilado.</li>
                            <li><strong>Limitaci&oacute;n de la Finalidad</strong>: Solo recogeremos sus datos personales para los fines declarados y solo seg&uacute;n sus deseos.</li>
                            <li><strong>Precisi&oacute;n</strong>: Mantendremos sus datos personales exactos y actualizados.</li>
                            <li><strong>Seguridad de los Datos</strong>: Aplicamos las medidas t&eacute;cnicas y organizativas adecuadas y proporcionales a los riesgos para garantizar que sus datos no sufran da&ntilde;os, tales como divulgaci&oacute;n o acceso no autorizado, la destrucci&oacute;n accidental o il&iacute;cita o su p&eacute;rdida accidental o alteraci&oacute;n y cualquier otra forma de tratamiento il&iacute;cito.</li>
                            <li><strong>Acceso y Rectificaci&oacute;n</strong>: Disponemos de medios para que acceda o rectifique sus datos cuando lo considere oportuno.</li>
                            <li><strong>Conservaci&oacute;n</strong>: Conservamos sus datos personales de manera legal y apropiada y solo mientras es necesario para los fines para los que se han recopilado.</li>
                            <li><strong>Las transferencias internacionales</strong>: cuando se d&eacute; el caso de que sus datos vayan a ser transferidos fuera de la UE/EEE se proteger&aacute;n adecuadamente.</li>
                            <li><strong>Terceros</strong>: El acceso y transferencia de datos personales a terceros se llevan a cabo de acuerdo con las leyes y reglamentos aplicables y con las garant&iacute;as contractuales adecuadas.</li>
                            <li><strong>Marketing Directo y cookies</strong>: Cumplimos con la legislaci&oacute;n aplicable en materia de publicidad y cookies.</li>
                        </ul>

                        <p><strong>&nbsp;4.&nbsp;</strong><strong>RECOGIDA Y TRATAMIENTO DE SUS DATOS PERSONALES</strong></p>

                        <p>Los tipos de datos que se pueden solicitar y tratar son:</p>

                        <ul>
                            <li>Datos de car&aacute;cter identificativo.</li>
                        </ul>

                        <p>Tambi&eacute;n recogemos de forma autom&aacute;tica datos sobre su visita a nuestro sitio web&nbsp; seg&uacute;n se describe en la pol&iacute;tica de cookies.</p>

                        <p>Siempre que solicitemos sus Datos personales, le informaremos con claridad de qu&eacute; datos personales recogemos y con qu&eacute; fin. En general, recogemos y tratamos sus datos personales con el prop&oacute;sito de:</p>

                        <ul>
                            <li>Proporcionar informaci&oacute;n, servicios, productos, informaci&oacute;n relevante y novedades en el sector.</li>
                            <li>Env&iacute;o de comunicaciones.</li>
                        </ul>

                        <p><strong>5. LEGITIMIDAD</strong></p>

                        <p>De acuerdo con la normativa de protecci&oacute;n de datos aplicable, sus datos personales podr&aacute;n tratarse siempre que:</p>

                        <ul>
                            <li>Nos haya dado su consentimiento a los efectos del tratamiento. Por supuesto podr&aacute; retirar su consentimiento en cualquier momento.</li>
                            <li>Por requerimiento legal.</li>
                            <li>Por existir un inter&eacute;s leg&iacute;timo que no se vea menoscabado por sus derechos de privacidad, como por ejemplo el env&iacute;o de informaci&oacute;n comercial bien por suscripci&oacute;n a nuestra newsletter o por su condici&oacute;n de cliente.</li>
                            <li>Para la prestaci&oacute;n de alguno de nuestros servicios mediante relaci&oacute;n contractual entre usted y nosotros.</li>
                        </ul>

                        <p><strong>6. COMUNICACI&Oacute;N DE DATOS PERSONALES</strong></p>

                        <p>No se realizar&aacute; ninguna cesi&oacute;n, salvo por obligaci&oacute;n legal.</p>

                        <p><strong>7. SUS DERECHOS</strong></p>

                        <p>En relaci&oacute;n con la recogida y tratamiento de sus datos personales, puede ponerse en contacto con nosotros en cualquier momento para:</p>

                        <ul>
                            <li>Acceder a sus datos personales y a cualquier otra informaci&oacute;n indicada en el Art&iacute;culo 15.1 del RGPD.</li>
                            <li>Rectificar sus datos personales que sean inexactos o est&eacute;n incompletos de acuerdo con el Art&iacute;culo 16 del RGPD.</li>
                            <li>Suprimir sus datos personales de acuerdo con el Art&iacute;culo 17 del RGPD.</li>
                            <li>Limitar el tratamiento de sus datos personales de acuerdo con el Art&iacute;culo 18 del RGPD.</li>
                            <li>Solicitar la portabilidad de sus datos de acuerdo con el Art&iacute;culo 20 del RGPD.</li>
                            <li>Oponerse al tratamiento de sus datos personales de acuerdo con el art&iacute;culo 21 del RGPD.</li>
                        </ul>

                        <p>Si ha otorgado su consentimiento para alguna finalidad concreta, tiene derecho a retirar el consentimiento otorgado en cualquier momento,&nbsp;Puede ejercer estos derechos enviando comunicaci&oacute;n a info@bernaldev.com.</p>

                        <p>Tambi&eacute;n tiene derecho a presentar una reclamaci&oacute;n ante la Autoridad de control competente (<a href="https://www.aepd.es/es" rel="noopener noreferrer" target="_blank">AEPD</a>)&nbsp;si&nbsp;considera que el tratamiento no se ajusta a la normativa vigente.</p>

                        <p><strong>8. INFORMACI&Oacute;N LEGAL</strong></p>

                        <p>Los requisitos de esta Pol&iacute;tica complementan, y no reemplazan, cualquier otro requisito existente bajo la ley de protecci&oacute;n de datos aplicable, que ser&aacute; la que prevalezca en cualquier caso.</p>

                        <p>Esta Pol&iacute;tica est&aacute; sujeta a revisiones peri&oacute;dicas y pueden ser modificados en cualquier momento, estando siempre colgada en nuestra p&aacute;gina web la versi&oacute;n vigente. Y si tienes cualquier duda, puedes contactarme en el email reflejado y estar&eacute; encantado de ayudarte en todo lo que necesites.</p>

                    </div>
                </div>
            </article>
        </div>
        <!-- Sidebar derecha-->
        <div class="col-xs-12 col-md-4 pull-right _pl-0 _pr-0 _pl-sm-30">
            <!-- Categorias-->
            <div class="col-xs-12 _mt-20">
                {% include "includes/side_categories.html" %}
            </div>
            <!-- Popular posts-->
            <div class="col-xs-12 _mt-20">
                {% include "includes/side_popular_posts.html" with comments_recent=comments_recent %}
            </div>
            <!-- Last comments-->
            <div class="col-xs-12 _mt-30">
                {% include "includes/side_recent_comments.html" with comments_recent=comments_recent %}
            </div>
        </div>
    </div>
</div>

{% endblock %}