{% load staticfiles %}

<span id="comentarios" class="_previewXL-comments">3 Comments</span>
<div class="media col-xs-12 _pl-0 _pr-0">
    <div class="col-xs-1 _pl-0 _pr-0">
        <img src='{% static "img/python.jpg" %}' width="100%" class="img-responsive img-rounded"
             alt="">
    </div>
    <div class="media-body col-xs-11 _pr-0">
        <p class="nombre">Jhon Doe <span>7:51pm, Hoy</span></p>
        <p class="comentario">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>
<div class="media col-xs-12 _pl-0 _pr-0">
    <div class="col-xs-1 _pl-0 _pr-0">
        <img src='{% static "img/python.jpg" %}' width="100%" class="img-responsive img-rounded"
             alt="">
    </div>
    <div class="media-body col-xs-11 _pr-0">
        <p class="nombre">Pepiño <span>8:51pm, Hoy</span></p>
        <p class="comentario">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>
<div class="media col-xs-12 _pl-0 _pr-0">
    <div class="col-xs-1 _pl-0 _pr-0">
        <img src='{% static "img/python.jpg" %}' width="100%" class="img-responsive img-rounded"
             alt="">
    </div>
    <div class="media-body col-xs-11 _pr-0">
        <p class="nombre">Alex <span>9:21pm, Hoy</span></p>
        <p class="comentario">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>