{% load staticfiles %}

{% if post.postcomment_set.all.count > 0 %}
<div id="comments" class="col-xs-12 _pl-0 _pr-0 _previewXL-comments">
    <span>
        <i class="fa fa-comments"></i> {{ post.postcomment_set.all.count }} comments
        <i class="fa fa-heart _ml-10"></i> {{ post.num_likes }} likes
    </span>

    {% for comment in post.postcomment_set.all %}
    <div class="media col-xs-12 _pl-0 _pr-0">
        <div class="col-xs-1 _pl-0 _pr-0">
            {% if comment.author %}
            <a href="{{ comment.author.get_absolute_url }}">
                <img src='{{ comment.author.image.url }}' width="100%" class="img-responsive img-rounded" alt="">
            </a>
            {% else %}
            <img src='{% static "img/anonymous.jpeg" %}' width="100%" class="img-responsive img-rounded" alt="">
            {% endif %}
        </div>
        <div class="media-body col-xs-11 _pr-0">
            <p class="nombre">
                {% if comment.author %}
                <a href="{{ comment.author.get_absolute_url }}">{{ comment.author.user.first_name }}</a>
                {% else %}
                {{ comment.anonymous_name }}
                {% endif %}
                <span><small> {{ comment.timestamp|timesince }} ago</span></small>
            </p>
            <p class="comentario">
                {{ comment.comment }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}