{% load staticfiles %}

{% if post.postcomment_set.all.count > 0 %}
<div id="comments" class="col-xs-12 _mt-10 _previewXL-comments">
    <span class="_enlace_naranja">
        <i class="fa fa-comments"></i> {{ post.postcomment_set.all.count }} comments
        <i class="fa fa-heart _ml-10"></i> {{ post.postlike_set.all.count }} likes
    </span>
    {% for post_comment in post.postcomment_set.all %}
    <div class="media col-xs-12 _pl-0 _pr-0 _mt-5">
        <div class="col-xs-1 _pl-0 _pr-0">
            {% if post_comment.comment.user %}
            <a href="{{ post_comment.comment.user.userprofile.get_absolute_url }}">
                <img width="100%" class="img-responsive img-rounded"
                     {%if post_comment.comment.user.userprofile.image%}
                     src='{{ post_comment.comment.user.userprofile.image.url }}'
                     {%elif post_comment.comment.user.userprofile.image_url%}
                     src='{{ post_comment.comment.user.userprofile.image_url }}'
                     {%else%}
                     src='{% static "img/dummy-user.png" %}'
                     {%endif%} style="min-height: 52px;">
            </a>
            {% else %}
            <img src='{% static "img/dummy-user.png" %}' width="100%" class="img-responsive img-rounded" alt="">
            {% endif %}
        </div>
        <div class="media-body col-xs-11 _pr-0">
            <p class="nombre">
                {% if post_comment.comment.user %}
                <a  class="_enlace_negro_n" href="{{ post_comment.comment.user.userprofile.get_absolute_url }}">
                    {{ post_comment.comment.user.first_name }}
                </a>
                {% endif %}
                <span><small>comment {{ post_comment.comment.timestamp|timesince }} ago</span></small>
            </p>
            <p class="comentario">
                {{ post_comment.comment.content }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}