{% load staticfiles %}

<div id="form_comments">
    <h3>Dejar comentario</h3>
    <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group _mb-5">
            {%if user.is_anonymous%}
            <textarea class="form-control _aboutMessage" name="comment" id="comment" maxlength=275 placeholder="Log in to comment..."
                      disabled></textarea>
            {%else%}
            <textarea class="form-control _aboutMessage" name="comment" id="comment" maxlength=275 placeholder="Leave your comment..."></textarea>
            {%endif%}
        </div>
        <div class="form-group _mt-0">
            <div class="pull-left">
                <small class="form-text text-muted">Max. 275 characters</small>
            </div>
            <div class="pull-right ">
                <ul class="list-inline _mt-5">
                    {% if user.is_anonymous %}
                    <li class="list-inline-item _pl-0 _pr-0">
                        <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-social-icon btn-md btn-twitter">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li class="list-inline-item _pl-0 _pr-0">
                        <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-social-icon btn-md btn-facebook">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li class="list-inline-item _pl-0 _pr-0">
                        <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-social-icon btn-md btn-linkedin">
                            <span class="fa fa-linkedin"></span>
                        </a>
                    </li>
                    <li class="list-inline-item _pl-0 _pr-0">
                        <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-social-icon btn-md btn-instagram">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                    <li class="list-inline-item _pl-0 _pr-0">
                        <a href="{% url 'social:begin' 'github' %}" class="btn btn-social-icon btn-md btn-github">
                            <span class="fa fa-github"></span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="list-inline-item _pl-20 _pr-0">
                        <button type='submit' class="btn btn-md _btnColor1">
                            <i class="fa fa-comment" aria-hidden="true"></i> Send Comment
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>