{% load staticfiles %}

<!-- Bloque principal (fuera del container para que el jumbotron ocupe toda la pantalla-->
<div class="jumbotron">
    <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 _textCenter">
                {% if profile %}
                <h1>{{ profile.user.first_name }}</h1>
                <p>{{ profile.description }}</p>
                {% else %}
                <h1>About me</h1>
                <p>Developer and Geek</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
