{% load staticfiles %}

<!-- Preview de un post más pequeña-->
<div class="_previewXL">
    <div class="_previewXL-Title">
        <h3><a href="post.html">Raspberry PI 2</a></h3>
        <span>By Isma- 2 hours ago<a href="post.html"><span class="_previewXL-comments">8
            Comments</span></a></span>
    </div>
    <div class="_previewXL-Body">
        <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
            making it look like readable English. Many desktop publishing packages and web page editorsLorem Ipsum is that it
            has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like
            readable English.<span><a href="post.html"> leer mas...</a></span></p>
    </div>
    <div class="_previewXL-Footer">
        <span class="label label-info">programming</span>
        <span class="label label-primary">linux</span>
        <span class="label label-success">raspberry pi</span>
    </div>
</div>