{% load staticfiles %}

<!-- Preview de un post más pequeña-->
<div class="_previewXL">
    <div class="_previewXL-Title">
        <h3><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></h3>
        <span>{{ post.author }} - {{ post.timestamp }}
            <a href='{{ post.get_absolute_url }}'>
                <span class="_previewXL-comments">{{ post.num_comments }} Comments</span></a>
            </a>
        </span>
    </div>
    <div class="_previewXL-Body">
        <p>
            {{ post.content|safe|linebreaks|truncatechars:200}}
            <span>
                <a href='{{ post.get_absolute_url }}'> leer mas...</a>
            </span>
        </p>
    </div>
    <div class="_previewXL-Footer">
        {% for post_category in post_categories %}
        {% if post_category.post == post %}
        <span class="label label-{{ post_category.category.css_class }}">{{ post_category.category.category }}</span>
        {% endif %}
        {% endfor %}
    </div>
</div>