{% load staticfiles %}

<!-- Preview de un post tipo card -->
<div class="_preview">
    <div class="_preview-title _bgColor0">
        <div class="_preview-title_img">
            <a href="{{ post.get_absolute_url }}">
                {% if post.image %}
                <figure><img src='{{ post.image.url }}' class="img-responsive" width="100%"></figure>
                {% else %}
                <figure><img src='' class="img-responsive" width="100%"></figure>
                {% endif %}
            </a>
        </div>
        <h4><a class="_ftColor1 _ftHColor3" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
    </div>
    <div class="_preview-footer _bgColor1">
        <img class="_bgColor0" src='{{ post.author.image.url }}'>
        <span><a class="_ftColor0" href="#" data-toggle="tooltip" data-placement="left" title="Author">{{ post.author.user.first_name }}</a></span>
        <span class="pull-right">
            <a class="_ftColor0" href='{{ post.get_absolute_url }}#form_comments' data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments"></i> {{ post.postcomment_set.all.count }}</a>
            <a class="_ftColor0" href='{{ post.get_absolute_url }}#form_comments' data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> {{ post.num_likes }}</a>
        </span>
        <div class="_preview-user _bgColor1">
            <img src='{{ post.author.image.url }}' class="img-responsive">
            <h3 class="_ftColor0">{{ post.author.user.first_name }} </h3>
            <p class="_ftColor0">{{ post.author.description }}</p>
            <div class="_preview-user-sn">
                <a href="#"><i class="fa fa-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook"></i></a>
                <a href="#"><i class="fa fa-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" data-placement="bottom" title="Google Plus"></i></a>
                <a href="#"><i class="fa fa-youtube" data-toggle="tooltip" data-placement="bottom" title="Youtube"></i></a>
                <a href="#"><i class="fa fa-github" data-toggle="tooltip" data-placement="bottom" title="Github"></i></a>
            </div>
        </div>
    </div>
</div>