{% load staticfiles %}

<h2 class="_titleSection">POSTS POPULARES</h2>
<div class="_previewXSGroup">
    <div class="_previewXS">
        <img src='{% static "img/python.jpg" %}' alt="thumbnail" class="img-responsive img-rounded">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit amet
            <a href="">[...]</a>
        </p>
    </div>
    <div class="_previewXS">
        <img src='{% static "img/python.jpg" %}' alt="thumbnail" class="img-responsive img-rounded">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit amet
            <a href="">[...]</a>
        </p>
    </div>
    <div class="_previewXS">
        <img src='{% static "img/python.jpg" %}' alt="thumbnail" class="img-responsive img-rounded">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit ipsum dolor sit amet
            <a href="">[...]</a>
        </p>
    </div>
</div>