{% load staticfiles %}

<h2 class="_titleSection">BUSQUEDA ARCHIVO</h2>
<div class="panel-group _mt-0" id="accordion">
    <div class="panel">
        <div class="panel-heading">
            <button class="accordion active _btnColor1 _pd-10 _w-100 _ft-15" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false">2017</button>
        </div>
        <div id="collapse1" class="panel-collapse collapse panel-last-post in">
            <div class="panel-body">
                <h6>Diciembre <span class="badge badge-default badge-pill _ft-10 pull-right">14</span></h6>
                <h6>Noviembre <span class="badge badge-default badge-pill _ft-10 pull-right">7</span></h6>
                <h6>Octubre <span class="badge badge-default badge-pill _ft-10 pull-right">1</span></h6>
                <h6>Junio <span class="badge badge-default badge-pill _ft-10 pull-right">2</span></h6>
                <h6>Mayo <span class="badge badge-default badge-pill _ft-10 pull-right">5</span></h6>
                <h6>Abril <span class="badge badge-default badge-pill _ft-10 pull-right">8</span></h6>
                <h6>Febrero <span class="badge badge-default badge-pill _ft-10 pull-right">3</span></h6>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <button class="accordion _btnColor1 _pd-10 _w-100 _ft-15" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false">2016</button>
        </div>
        <div id="collapse2" class="panel-collapse collapse panel-last-post">
            <div class="panel-body">
                <h6>Noviembre <span class="badge badge-default badge-pill _ft-10 pull-right">7</span></h6>
                <h6>Octubre <span class="badge badge-default badge-pill _ft-10 pull-right">1</span></h6>
                <h6>Junio <span class="badge badge-default badge-pill _ft-10 pull-right">2</span></h6>
                <h6>Abril <span class="badge badge-default badge-pill _ft-10 pull-right">8</span></h6>
                <h6>Febrero <span class="badge badge-default badge-pill _ft-10 pull-right">3</span></h6>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <button class="accordion _btnColor1 _pd-10 _w-100 _ft-15" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false">2015</button>
        </div>
        <div id="collapse3" class="panel-collapse collapse panel-last-post">
            <div class="panel-body">
                <h6>Diciembre <span class="badge badge-default badge-pill _ft-10 pull-right">14</span></h6>
                <h6>Noviembre <span class="badge badge-default badge-pill _ft-10 pull-right">7</span></h6>
                <h6>Mayo <span class="badge badge-default badge-pill _ft-10 pull-right">5</span></h6>
                <h6>Abril <span class="badge badge-default badge-pill _ft-10 pull-right">8</span></h6>
                <h6>Febrero <span class="badge badge-default badge-pill _ft-10 pull-right">3</span></h6>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <button class="accordion _btnColor1 _pd-10 _w-100 _ft-15" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false">2014</button>
        </div>
        <div id="collapse4" class="panel-collapse collapse panel-last-post">
            <div class="panel-body">
                <h6>Diciembre <span class="badge badge-default badge-pill _ft-10 pull-right">14</span></h6>
                <h6>Noviembre <span class="badge badge-default badge-pill _ft-10 pull-right">7</span></h6>
                <h6>Octubre <span class="badge badge-default badge-pill _ft-10 pull-right">1</span></h6>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <button class="accordion _btnColor1 _pd-10 _w-100 _ft-15" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false">2013</button>
        </div>
        <div id="collapse5" class="panel-collapse collapse panel-last-post">
            <div class="panel-body">
                <h6>Mayo <span class="badge badge-default badge-pill _ft-10 pull-right">5</span></h6>
                <h6>Abril <span class="badge badge-default badge-pill _ft-10 pull-right">8</span></h6>
                <h6>Febrero <span class="badge badge-default badge-pill _ft-10 pull-right">3</span></h6>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading">
            <button class="accordion _btnColor1 _pd-10 _w-100 _ft-15" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false">2012</button>
        </div>
        <div id="collapse6" class="panel-collapse collapse panel-last-post">
            <div class="panel-body">
                <h6>Noviembre <span class="badge badge-default badge-pill _ft-10 pull-right">7</span></h6>
                <h6>Octubre <span class="badge badge-default badge-pill _ft-10 pull-right">1</span></h6>
            </div>
        </div>
    </div>
</div>