{% load staticfiles %}

<h2 class="_titleSection">LAST COMMENTS</h2>
<div class="_lastCommentsXS">
    <div class="_commentXS">
        <p><span>admin</span> commented on</p>
        <h4><a href="">Lorem ipsum dolor sit dolor more normal!</a></h4>
        <p>June 25th, 2013</p>
    </div>
    <div class="_commentXS">
        <p><span>admin</span> commented on</p>
        <h4><a href="">Lorem ipsum dolor sit dolor more normal!</a></h4>
        <p>June 25th, 2013</p>
    </div>
    <div class="_commentXS">
        <p><span>admin</span> commented on</p>
        <h4><a href="">Lorem ipsum dolor sit dolor more normal!</a></h4>
        <p>June 25th, 2013</p>
    </div>
</div>