{% load staticfiles %}

<h2 class="_titleSection">POSTS POPULARES</h2>
<div class="_previewXSGroup">
    {% for post in posts_popular %}
    <div class="_previewXS">
        <a href='{{ post.get_absolute_url }}'>
            {% if post.image %}
            <img src='{{ post.image.image.url }}' alt="thumbnail" class="img-responsive img-rounded">
            {% else %}
            <img src='{% static "img/dummy-post.jpg" %}' alt="thumbnail" class="img-responsive img-rounded">
            {% endif %}
        </a>
        <p>
            <span>By
                <a href="{{ post.author.user.userprofile.get_absolute_url }}">{{ post.author.user.first_name }}</a>
                <small> {{ post.published_date|timesince }} ago</small>
            </span>
        </p>
        <a href='{{ post.get_absolute_url }}'><p>{{ post.title|title }}...</a>
        </p>
    </div>
    {% endfor %}
</div>