{% load staticfiles %}

<h2 class="_titleSection">LAST PICTURES</h2>
<div class="_lastPictures">
    <div class="_lastPicturesRow">
        <div class="_lastPicturesImage images_1_of_4"><a href="" title="Image Title"><img src='{% static "img/python.jpg" %}' alt="" class="img-responsive img-rounded"></a>
        </div>
        <div class="_lastPicturesImage images_1_of_4">
            <a href="" title="Image Title"><img src='{% static "img/python.jpg" %}' alt="" class="img-responsive img-rounded"></a>
        </div>
        <div class="_lastPicturesImage images_1_of_4">
            <a href="" title="Image Title"><img src='{% static "img/python.jpg" %}' alt="" class="img-responsive img-rounded"></a>
        </div>
        <div class="_lastPicturesImage images_1_of_4">
            <a href="" title="Image Title"><img src='{% static "img/python.jpg" %}' alt="" class="img-responsive img-rounded"></a>
        </div>
    </div>
    <div class="_lastPicturesRow">
        <div class="_lastPicturesImage images_1_of_4">
            <a href="" title="Image Title"><img src='{% static "img/python.jpg" %}' alt="" class="img-responsive img-rounded"></a>
        </div>
        <div class="_lastPicturesImage images_1_of_4">
            <a href="" title="Image Title"><img src='{% static "img/python.jpg" %}' alt="" class="img-responsive img-rounded"></a>
        </div>
        <div class="_lastPicturesImage images_1_of_4">
            <a href="" title="Image Title"><img src='{% static "img/python.jpg" %}' alt="" class="img-responsive img-rounded"></a>
        </div>
        <div class="_lastPicturesImage images_1_of_4">
            <a href="" title="Image Title"><img src='{% static "img/python.jpg" %}' alt="" class="img-responsive img-rounded"></a>
        </div>
    </div>
    <div class="_lastPicturesRow">
        <div class="_lastPicturesImage images_1_of_4">
            <a href="" title="Image Title"><img src='{% static "img/python.jpg" %}' alt="" class="img-responsive img-rounded"></a>
        </div>
        <div class="_lastPicturesImage images_1_of_4">
            <a href="" title="Image Title"><img src='{% static "img/python.jpg" %}' alt="" class="img-responsive img-rounded"></a>
        </div>
        <div class="_lastPicturesImage images_1_of_4">
            <a href="" title="Image Title"><img src='{% static "img/python.jpg" %}' alt="" class="img-responsive img-rounded"></a>
        </div>
        <div class="_lastPicturesImage images_1_of_4">
            <a href="" title="Image Title"><img src='{% static "img/python.jpg" %}' alt="" class="img-responsive img-rounded"></a>
        </div>
    </div>
</div>