{% load staticfiles %}

<h2 class="_titleSection">POSTS POPULARES</h2>
<div class="_previewXSGroup">
    {% for post in posts_popular %}
    <div class="_previewXS">
        <a href='{{ post.get_absolute_url }}'>
            {% if post.image %}
            <img src='{{ post.image.url }}' alt="thumbnail" class="img-responsive img-rounded">
            {% else %}
            <img src='' alt="thumbnail" class="img-responsive img-rounded">
            {% endif %}
        </a>
        <p>{{ post.title|title }}<a href='{{ post.get_absolute_url }}'>[...]</a></p>
    </div>
    {% endfor %}
</div>