{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
Blog - UserProfile
{% endblock %}

{% block main_content %}

<!-- Container de bootstrap (centrar contenido en pantalla -->
<div class="container _bgColor0">
	<!-- Fila -->
	<div class="row">
		<!-- Columna izquierda -->
        <div id="contact_left" class="col-xs-12 col-sm-4 col-md-3 _mt-20 pull-left">
			<div class="text-center">
				<img class="img-circle img-responsive" style="border: 10px solid #bdc3c7; display: inline;"
					 {%if profile.image%}
					 src='{{ profile.image.url }}'
					 {%else%}
					 src='{% static "img/dummy-user.png" %}'
					 {%endif%}>
			</div>
			<div class="text-center">
				<h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
				<h5 class="_mt-20">{{ profile.description }}</h5>
				<div class="hr-center"></div>
				{% if profile.user.username == "trama1983" %}
				<div class="_social_contact">
					<div class="text-center">
						{%comment%}
						<a href="https://www.linkedin.com/in/ismael-bernal-10497a51/"><i class="fa fa-linkedin fa-2x" data-toggle="tooltip" data-placement="top" title="Linkedin"></i></a>
						{%endcomment%}
						<a href="https://twitter.com/Ismab83"><i class="fa fa-twitter fa-2x" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
						<a href="https://github.com/IsmaelB83"><i class="fa fa-github fa-2x" data-toggle="tooltip" data-placement="top" title="GitHub"></i></a>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<!-- Columna derecha -->
        <div id="contact_right" class="col-xd-12 col-sm-8 col-md-9 _pl-sm-30 _mt-20 pull-right">
			<div class="row">
				<div class="col-xs-12">
                    <h1 class="_mt-0"><strong>{{ profile.user.first_name }} {{ profile.user.last_name }}</strong></h1>
                    <h4>{{ profile.description }}</h4>
                    <div class="hr-left"></div>
                    <blockquote>
                        <p>Vive como si fueras a morir mañana. Aprende como si fueras a vivir siempre.</p>
                        <footer>Mahatma Gandhi</footer>
                    </blockquote>
                    {% if profile.author %}
                    {{ profile.introduction|safe }}
                    {% else %}
                    <h4>
                        <p>
                            Si quiere ponerse en contacto con el usuario <strong>"{{ profile.user.first_name}} {{ profile.user.last_name}}"</strong>
                            rellene el siguiente formulario y haga click en enviar. La Estancia Azul se encargará de enviar un mail automáticamente
                            a la dirección de correo electrónico del usuario para que pueda recibir su mensaje.
                        </p>
                    </h4>
                    {% endif %}
				</div>
				<div class="col-xs-12">
					<ul class="_timeline">
						{% if request.user.is_staff %}
						<li>
							<div class="_timeline-badge default"><i class="fa fa-user"></i></div>
							<h1 class="timeline-head">USUARIO</h1>
						</li>
						<li>
							<div class="hidden-xs hidden-sm _timeline-badge success"></div>
							<div class="_timeline-panel">
								<div class="btn-group btn-block">
									<button type="button" disabled class="btn _btn_contact">nombre</button>
									<button type="button" disabled class="btn btn-default">{{profile.user.first_name}} {{profile.user.last_name}}</button>
								</div>
								<div class="btn-group btn-block">
									<button type="button" disabled class="btn _btn_contact">usuario</button>
									<button type="button" disabled class="btn btn-default">{{profile.user.username}}</button>
								</div>
								<div class="btn-group btn-block">
									<button type="button" disabled class="btn _btn_contact">email</button>
									<button type="button" disabled class="btn btn-default">{{ profile.user.email }}</button>
								</div>
								<div class="btn-group btn-block">
									<button type="button" disabled class="btn _btn_contact">país</button>
									<button type="button" disabled class="btn btn-default">{{ profile.country }}</button>
								</div>
								<div class="btn-group btn-block">
									<button type="button" disabled class="btn _btn_contact">ubicación</button>
									<button type="button" disabled class="btn btn-default">{{ profile.location }}</button>
								</div>
							</div>
						</li>
						<li>
							<div class="_timeline-badge default"><i class="fa fa-comments"></i></div>
							<h1 class="timeline-head">ACTIVIDAD</h1>
						</li>
						<li>
							<div class="hidden-xs hidden-sm _timeline-badge success"></div>
							<ul class="_timeline-panel list-unstyled _pr-30">
								<li>
									<div class="btn-group btn-block">
										<button type="button" disabled class="btn _btn_contact">posts</button>
										<button type="button" disabled class="btn btn-default">{{posts_user|length}}</button>
									</div>
									<div class="btn-group btn-block">
										<button type="button" disabled class="btn _btn_contact">comentarios</button>
										<button type="button" disabled class="btn btn-default">{{comments_user|length}}</button>
									</div>
									<div class="btn-group btn-block">
										<button type="button" disabled class="btn _btn_contact">likes</button>
										<button type="button" disabled class="btn btn-default">{{post_likes|length}}</button>
									</div>
									<div class="btn-group btn-block">
										<button type="button" disabled class="btn _btn_contact">fecha alta</button>
										<button type="button" disabled class="btn btn-default">{{profile.user.date_joined|date:"M d, Y"}}</button>
									</div>
									<div class="btn-group btn-block">
										<button type="button" disabled class="btn _btn_contact">último login</button>
										<button type="button" disabled class="btn btn-default">{{profile.user.last_login|date:"M d, Y"}}</button>
									</div>
								</li>
								<li class="_mt-30">
									<h2>Actividad reciente</h2>
									<div class="hr-left"></div>
								</li>
								{% for log in log_user %}
								<li class="_mt-10">
									<div class="pull-left">
										<span class="_ml-10"><i class="{{log.activity.icon}}"></i></span>
										<span class="_ml-10">{{log.description|safe}}</span>
									</div>
									<div class="pull-right">
										<span class="_ml-10"><i class="fa fa-calendar"></i> {{log.timestamp}}</span>
									</div>
								</li>
								<br>
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						<li>
							<div class="_timeline-badge default"><i class="fa fa-envelope"></i></div>
							<h1 class="timeline-head">CONTACTO</h1>
						</li>
						<li>
							<div class="hidden-xs hidden-sm hidden-md _timeline-badge success"></div>
							<div class="_timeline-panel">
								<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<form>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group"><input class="form-control input-lg _contact_input" placeholder="Nombre..."></div>
											<div class="form-group"><input class="form-control input-lg _contact_input" placeholder="E-mail..."></div>
											<div class="form-group"><input class="form-control input-lg _contact_input" placeholder="Asunto..."></div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<textarea class="form-control input-lg _contact_input" style="height:182px; resize:none;" placeholder="Mensaje..."></textarea>
											</div>
										</div>
									</div>
									<div class="form-group _mt-10">
										<button class="btn btn-lg _btnColor1 btn-block">ENVIAR</button>
									</div>
								</form>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
