{% extends "base.html" %}

{% load static %}

{% block head %}
Blog - UserProfile
{% endblock %}

{% block activo_about %}
active
{% endblock %}

{% block main_content %}

<!-- Container de bootstrap (centrar contenido en pantalla -->
<div class="container _bgColor0">
	<!-- Fila -->
	<div class="row">
		<!-- Columna izquierda -->
        <div id="contact_left" class="col-xs-12 col-sm-4 col-md-3 _mt-20 pull-left">
			<div class="text-center">
				<img class="img-circle img-responsive" style="border: 10px solid #bdc3c7; display: inline;"
					 {%if profile.image%}
					 src='{{ profile.image.url }}'
					 {%else%}
					 src='{% static "img/dummy-user.png" %}'
					 {%endif%}>
			</div>
			<div class="text-center">
				<h1>{{ profile.user.first_name }}</h1>
				<h5 class="_mt-20">{{ profile.description }}</h5>
				<div class="hr-center"></div>
			</div>
		</div>
		<!-- Columna derecha -->
        <div id="contact_right" class="col-xd-12 col-sm-8 col-md-9 _pl-sm-30 _mt-20 pull-right">
			<div class="row">
				<div class="col-xs-12">
                    <h1 class="_mt-0"><strong>{{ profile.user.first_name }}</strong></h1>
                    <h4>{{ profile.description }}</h4>
                    <div class="hr-left"></div>
                    {% if profile.author and profile.user.username == "ismael" %}
                    <div class="col-xs-12 _pl-0 _pr-0">
                        <blockquote>
                            <p>Vive como si fueras a morir mañana. Aprende como si fueras a vivir siempre.</p>
                            <footer>Mahatma Gandhi</footer>
                        </blockquote>
                        <div class="hr-left"></div>
                    </div>
                    <div class="col-xs-12 _pl-0">
                        {{ profile.introduction|safe }}
                    </div>
                    {% else %}
                        <p>
                            Si quiere ponerse en contacto con el usuario <strong>"{{ profile.user.first_name}} {{ profile.user.last_name}}"</strong>
                            rellene el siguiente formulario y haga click en enviar. La Estancia Azul se encargará de enviar un mail automáticamente
                            a la dirección de correo electrónico del usuario para que pueda recibir su mensaje.
                        </p>
                    {% endif %}
				</div>
				<div class="col-xs-12">
					<ul class="_timeline">
						{% if request.user.is_staff %}
                        <li id="user">
							<div class="_timeline-badge default"><i class="fa fa-user"></i></div>
							<h1 class="timeline-head">USUARIO</h1>
						</li>
						<li>
							<div class="hidden-xs hidden-sm _timeline-badge success"></div>
							<div class="_timeline-panel">
								<div class="btn-group btn-block">
									<button type="button" disabled class="btn _btn_contact">nombre</button>
									<button type="button" disabled class="btn btn-default">{{profile.user.first_name}} {{profile.user.last_name}}</button>
								</div>
								<div class="btn-group btn-block">
									<button type="button" disabled class="btn _btn_contact">usuario</button>
									<button type="button" disabled class="btn btn-default">{{profile.user.username}}</button>
								</div>
								<div class="btn-group btn-block">
									<button type="button" disabled class="btn _btn_contact">email</button>
									<button type="button" disabled class="btn btn-default">{{ profile.user.email }}</button>
								</div>
								<div class="btn-group btn-block">
									<button type="button" disabled class="btn _btn_contact">país</button>
									<button type="button" disabled class="btn btn-default">{{ profile.country }}</button>
								</div>
								<div class="btn-group btn-block">
									<button type="button" disabled class="btn _btn_contact">ubicación</button>
									<button type="button" disabled class="btn btn-default">{{ profile.location }}</button>
								</div>
							</div>
						</li>
                        <li id="activity">
							<div class="_timeline-badge default"><i class="fa fa-comments"></i></div>
							<h1 class="timeline-head">ACTIVIDAD</h1>
						</li>
						<li>
							<div class="hidden-xs hidden-sm _timeline-badge success"></div>
							<ul class="_timeline-panel list-unstyled _pr-30">
								<li>
									<div class="btn-group btn-block">
										<button type="button" disabled class="btn _btn_contact">posts</button>
										<button type="button" disabled class="btn btn-default">{{posts_user|length}}</button>
									</div>
									<div class="btn-group btn-block">
										<button type="button" disabled class="btn _btn_contact">comentarios</button>
										<button type="button" disabled class="btn btn-default">{{comments_user|length}}</button>
									</div>
									<div class="btn-group btn-block">
										<button type="button" disabled class="btn _btn_contact">likes</button>
										<!--<button type="button" disabled class="btn btn-default">{{post_likes|length}}</button>-->
									</div>
									<div class="btn-group btn-block">
										<button type="button" disabled class="btn _btn_contact">fecha alta</button>
										<button type="button" disabled class="btn btn-default">{{profile.user.date_joined|date:"M d, Y"}}</button>
									</div>
									<div class="btn-group btn-block">
										<button type="button" disabled class="btn _btn_contact">último login</button>
										<button type="button" disabled class="btn btn-default">{{profile.user.last_login|date:"M d, Y"}}</button>
									</div>
								</li>
							</ul>
						</li>
						{% endif %}
                        <li id="contact">
							<div class="_timeline-badge default"><i class="fa fa-envelope"></i></div>
							<h1 class="timeline-head">CONTACTO</h1>
						</li>
						<li>
							<div class="hidden-xs hidden-sm hidden-md _timeline-badge success"></div>
							<div class="_timeline-panel">
                                {% if profile.author %}
                                <p>
                                    Rellene el siguiente formulario de contacto, y pulse en <strong>Enviar</strong> para ponerse en contacto
                                    con <strong>"La Estancia Azul"</strong>.
                                </p>
                                <p>
                                    También puede hacerlo escribiendo un mail directamente a
                                    <a href="mailto:info@bernaldev.com">info@bernaldev.com</a>
                                </p>
                                {% endif %}
								<form method="post" action="" id="mail_form" enctype="multipart/form-data" novalidate>
            					    {% csrf_token %}
                                    {% if form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for error in form.non_field_errors %}
                                        {{ error }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <!-- Renderizado del formulario -->
									<div class="row">
										<div class="col-md-6">
                                            <div class="form-group">
	                                            {% include "utils/form_field_render.html" with field=form.mail_name bound=form.is_bound %}
											</div>
                                            <div class="form-group">
                                                {% include "utils/form_field_render.html" with field=form.mail_from bound=form.is_bound %}
                                            </div>
                                            <div class="form-group">
                                                {% include "utils/form_field_render.html" with field=form.mail_subj bound=form.is_bound %}
                                            </div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												{% include "utils/form_field_render.html" with field=form.mail_mess bound=form.is_bound %}
											</div>
										</div>
									</div>
									<div class="form-group _mt-10">
										<button type="submit" id="send_mail" class="btn btn-lg _btnColor1 btn-block">ENVIAR</button>
									</div>
								</form>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
