{% extends 'base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block main_content %}
<div class="container _bgColor0">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10 _pl-sm-30">
            <h2 class="_titleSection">USER PROFILE</h2>
        </div>
    </div>
    <div class="row">
        <form method="post" action="" id="user_form" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <!-- Imagen usuaio-->
            <div class="col-xs-12 col-sm-2">
                <div class="form-group">
                    <img id="id_avatar" class="img-responsive img-block img-rounded" alt=""
                         {%if profile.image%}
                         src='{{profile.image.url}}'
                         {%else%}
                         src='{% static "img/dummy-user.png" %}'
                         {%endif%}
                         style="margin: 0 auto; height: 132px;">
                    <br>
                    <input id="id_image" name="image" type="file" class="hidden" accept=".gif,.jpg,.jpeg,.png" onchange="readURL(this);">
                    <button id="id_image_btn" class="btn btn-sm btn-block _btnColor1" type="button" data-title="Edit">
                        <i class="fa fa-edit"></i><span> Image profile</span>
                    </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-10 _pl-sm-30">
                <!-- Errores globales del form. No específicos de un campo concreto -->
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
                <!-- Renderizado del formulario -->
                <div class="form-group">
                    {% include "utils/form_field_render.html" with field=form.user_id bound=form.is_bound %}
                </div>
                <div class="form-group form-inline">
                    {% include "utils/form_field_render.html" with field=form.first_name bound=form.is_bound %}
                    {% include "utils/form_field_render.html" with field=form.last_name bound=form.is_bound %}
                </div>
                <div class="form-group">
                    {% include "utils/form_field_render.html" with field=form.email bound=form.is_bound %}
                </div>
                <div class="form-group form-inline">
                    {% include "utils/form_field_render.html" with field=form.country bound=form.is_bound %}
                    {% include "utils/form_field_render.html" with field=form.location bound=form.is_bound %}
                </div>
                <div class="form-group">
                    {% include "utils/form_field_render.html" with field=form.description bound=form.is_bound %}
                </div>
                <div class="form-group">
                    {% render_field form.introduction placeholder="introduction about yourself..." class="form-control" style="height:150px; resize:none;" %}
                </div>
                <div class="form-group pull-right _mt-0">
                    <button type="submit" class="btn _btnColor1 btn-lg submit">Save</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-2">
        </div>
        <div class="col-xs-12 col-sm-10 _pl-sm-30">
            <h2 class="_titleSection">OAUTH OPTIONS</h2>
            <h3>GitHub</h3>
            {% if github_login %}
            <p>Connected as <a href="https://github.com/{{github_login.extra_data.login}}/" target="_blank">{{github_login.extra_data.login}}</a></p>
            {% if can_disconnect %}
            <form method="post" action="{% url 'social:disconnect' 'github' %}">
                {% csrf_token %}
                <button type="submit">Disconnect from GitHub</button>
            </form>
            {% else %}
            <button type="button" disabled>Disconnect from GitHub</button>
            <p style="color: red">You must <a href="{% url 'user:password' %}">define a password</a> for your account before disconnecting from Github.</p>
            {% endif %}
            {% else %}
            <a href="{% url 'social:begin' 'github' %}">Connect to GitHub</a>
            {% endif %}

            <h3>Twitter</h3>
            {% if twitter_login %}
            <p>Connected as
                <a href="https://twitter.com/{{twitter_login.extra_data.access_token.screen_name}}/" target="_blank">{{ twitter_login.extra_data.access_token.screen_name }}</a>
            </p>
            {% if can_disconnect %}
            <form method="post" action="{% url 'social:disconnect' 'twitter' %}">
                {% csrf_token %}
                <button type="submit">Disconnect from Twitter</button>
            </form>
            {% else %}
            <button type="button" disabled>Disconnect from Twitter</button>
            <p style="color: red">You must <a href="{% url 'user:password' %}">define a password</a> for your account before disconnecting from Twitter.</p>
            {% endif %}
            {% else %}
            <a href="{% url 'social:begin' 'twitter' %}">Connect to Twitter</a>
            {% endif %}

            <h3>Facebook</h3>
            {% if facebook_login %}
            <p>Connected as <a href="https://facebook.com/{{facebook_login.extra_data.id}}/" target="_blank">{{facebook_login.extra_data.id}}</a></p>
            {% if can_disconnect %}
            <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
                {% csrf_token %}
                <button type="submit">Disconnect from Facebook</button>
            </form>
            {% else %}
            <button type="button" disabled>Disconnect from Facebook</button>
            <p style="color: red">You must <a href="{% url 'user:password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
            {% endif %}
            {% else %}
            <a href="{% url 'social:begin' 'facebook' %}">Connect to Facebook</a>
            {% endif %}

            <h3>Google+</h3>
            {% if google_login %}
            <p>Connected as <a href="https://plus.google.com/" target="_blank">{{ google_login.uid }}</a></p>
            {% if can_disconnect %}
            <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
                {% csrf_token %}
                <button type="submit">Disconnect from Google+</button>
            </form>
            {% else %}
            <button type="button" disabled>Disconnect from Google+</button>
            <p style="color: red">You must <a href="{% url 'user:password' %}">define a password</a> for your account before disconnecting from Google+.</p>
            {% endif %}
            {% else %}
            <a href="{% url 'social:begin' 'google-oauth2' %}">Connect to Google+</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
<script type="text/javascript">
$('#id_image_btn').click(function(){ $('#id_image').click(); })

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            var image = document.getElementById("id_avatar");
            image.src = e.target.result;
        };
        reader.readAsDataURL(id_image.files[0]);
    }
}
</script>
{% endblock %}
